{%section:_CURRENCY_list%}

<div type="persistentGrid">
    <a href="#e/ishop/create_CURRENCY/" class="btn btn-primary  m-b-lg">
        <i class="fa fa-plus text"></i> <span class="text"> {add_currency}</span>
    </a>

    <!--
    <a href="#" class="btn btn-primary refreshCourses  m-b-lg">
        <i class="fa  text"></i> <span class="text"> {refresh_rates}</span>
    </a>
    -->

    <div id="currency_list" style="min-height:600px"></div>

</div>
{%endsection:_CURRENCY_list%}

