

<section class="panel panel-default">
    <header class="panel-heading"><h4>Sales items stats</h4> </header>
        <div class="table-responsive">
        <table style="width:100%" class="table-striped b-t b-light">
            <thead> <tr><th  style="padding:8px">Item</th> <th  style="padding:8px">Sales</th></tr> </thead>
    <tbody>
            {{#each results}}

                    <tr><td style="padding:8px">{{this.name}}</td>
                        <td  style="padding:8px">{{this.ccount}}</td>
                    </tr>
            {{/each}}

            </tbody>
        </table>
    </div>

</section>


