@Docs main

{%section:content%}


{%F:#mygroup(content:field({"name":"Page tpl","items":{"header":{"name":"Заголовок","type":"INPUT"},"text":{"name":"Текст","type":"TEXT"},"id":{"name":"ID","type":"INPUT"},"htype":{"name":"H-size","type":"SELECT","default":{"h1":"h1","h2":"h2","h3":"h3","h4":"h4","h5":"h5","p":"p"}},"blockType":{"name":"Тип","type":"SELECT","default":{"txt":"Текст","php":"Php код","html":"Html код","note":"Note","important":"Important","hr":"Hr"}}}}))%}


{%each({F:mygroup},k,value)%}

{%if({F:value>blockType}=='hr')%}
<hr class="mt-7 mb-4"/>
{%else%}

<div {%if({F:value>id})%} id="{%F:value>id%}" {%endif%} class="mb-7">

    {%if({F:value>header})%}

        <{%F:value>htype%} class="font-weight-bold">{%F:value>header%}</{%F:value>htype%}>
    {%endif%}

    {%if({F:value>blockType}=='txt')%}
        {%F:value>text%}
    {%endif%}

    {%if({F:value>blockType}=='note')%}
    <div class="duik-callout duik-callout-info mb-7">
        <h4 class="h5 text-danger">Notice</h4>
        <p class="mb-0">{%F:value>text%}</p>
    </div>
    {%endif%}


    {%if({F:value>blockType}=='html')%}
    <pre class="mb-4">
    <code class="language-html" data-lang="html">
        {%F:@pictures(plugin.extend.shortLinks.tpl:pre({"value":"{F:value>text}"}))%}
    </code>
    </pre>

    {%endif%}


    {%if({F:value>blockType}=='php')%}
    <pre class="mb-4">
        <code class="language-php" data-lang="php">
        {%F:value>text%}
        </code>
    </pre>

    {%endif%}

    {%if({F:value>blockType}=='important')%}
    <div class="duik-callout duik-callout-danger mb-7">
        <h4 class="h5 text-danger">Important!</h4>
        <p class="mb-0">{%F:value>text%}</p>
    </div>
    {%endif%}


    </div>
    {%endif%}


{%endeach%}


{%endsection:content%}

