@Main menu docs
{%section:_menu_main_level0%}


<div class="col-12 col-lg-7">
    <ul class="nav nav-primary nav-hero">

        {%F:menuItems%}

    </ul>
</div>


{%endsection:_menu_main_level0%}



{%section:_menu_item_level0%}

<li class="nav-item"><a class="nav-link" href="{%F:link%}">{%F:Name%} </a>
    {%F:submenu%}
</li>


{%endsection:_menu_item_level0%}







