@Main menu docs
{%section:_menu_main_level0%}

<div class="topbar-right">
    <ul class="topbar-nav nav">

        {%F:menuItems%}

    </ul>
</div>


{%endsection:_menu_main_level0%}



{%section:_menu_item_level0%}

<li class="nav-item"><a class="nav-link" href="{%F:link%}">{%F:Name%} {%if({F:group}==1)%} <i class="fa fa-caret-down"></i> {%endif%}</a>
    {%F:submenu%}
</li>


{%endsection:_menu_item_level0%}



{%section:_menu_main_level1%}


<div class="nav-submenu">
        {%F:menuItems%}
    </div>



{%endsection:_menu_main_level1%}



{%section:_menu_item_level1%}

<a class="nav-link" href="{%F:link%}">{%F:Name%}</a>

{%endsection:_menu_item_level1%}





