
@Main menu top
{%section:_menu_main_level0%}


<div class="collapse navbar-collapse" id="sidebar-nav">
    <div class="js-scrollbar duik-sidebar-sticky duik-sidebar-sticky--mini">

        {%F:menuItems%}

    </div>
</div>

{%endsection:_menu_main_level0%}



{%section:_menu_item_level0%}

<h5 class="duik-sidebar__heading">{%F:Name%}</h5>
{%F:submenu%}

{%endsection:_menu_item_level0%}



{%section:_menu_main_level1%}


<ul class="duik-sidebar__nav">
    {%F:menuItems%}


</ul>


{%endsection:_menu_main_level1%}



{%section:_menu_item_level1%}

<li class="duik-sidebar__item"><a class="duik-sidebar__link {%if({F:selected})%} active {%endif%}" href="{%F:link%}" {%endif%} >{%F:Name%}</a>
    {%F:submenu%}
</li>

{%endsection:_menu_item_level1%}



{%section:_menu_main_level2%}


<ul class="duik-sidebar__nav"  style="margin-bottom: 0rem;">
    {%F:menuItems%}
</ul>


{%endsection:_menu_main_level2%}



{%section:_menu_item_level2%}

<li class="duik-sidebar__item" style="padding-left:15px"><a class="duik-sidebar__link {%if({F:selected})%} active {%endif%}" href="{%F:link%}" {%endif%} >{%F:Name%}</a></li>

{%endsection:_menu_item_level2%}