{%section:_bones%}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {%->:bones_item%}
    </ol>
</nav>

{%endsection:_bones%}

{%section:_bones_item->bones_item%}   

<li class="breadcrumb-item"><a href="{%F:link%}">{%F:name%}</a></li>
          
{%endsection:_bones_item%}        


{%section:_bones_item_no_link->bones_item%}    
    <li class="breadcrumb-item" >{%F:name%}</li>
{%endsection:_bones_item_no_link%}

{%section:_bones_delimiter%}

{%endsection:_bones_delimiter%}
