<div id="e-form">
  <form id="settings">
  <p>{form_name}</p>
  <input class="required validate-alpha" type="text" name="Name" value="" />
  <p>{subject}</p>
  <input class="required validate-alpha" type="text" name="subject"  value="" />
  <p>{address_form_submission}</p>
  <input type="text"  class="required validate-email " name="email" id="email" value="" />
  <input type="hidden" name="category" id="category" value="" />
    
  <p>{charset}</p>
    <select id="charset" name="charset">
      <option value="utf-8">utf-8</option>
      <option value="windows-1251">windows-1251</option>
    </select>
    <p>{timeout}</p>
    <input type="text" name="timeout" id="timeout" value="60" />
    <p>{comment}</p>
    <textarea name="comment" id="comment" ondblclick="XTR_main.apply_weditor(this)"></textarea>
    <p>{messageAfter_sending}</p>
    <textarea name="messageAfter" id="messageAfter" ondblclick="XTR_main.apply_weditor(this)"></textarea>
    <ul class="chk">
      <li>
        <input type="checkbox" name="saveToServer" id="saveToServer"/>
        {saves_the_results_to_the_server}
      </li>
      <li>
        <input type="checkbox" id="useCaptcha" name="useCaptcha"/>
        {use_the_CAPTCHA}
      </li>
      <li>
        <input type="checkbox" name="async" />
        {async}
      </li>
    </ul>
    <p>{complexity_recognizers_CAPTCHA}</p>
    <select id="captchaSettings" name="captchaSettings">
      <option value="4-110">{captcha_easy}</option>
      <option value="6-145">{captcha_medium}</option>
      <option value="10-210">{captcha_high}</option>
      <option value="14-265">{captcha_very_high}</option>
    </select>
  </form>
  <a class="button" href="javascript:XTR_forms.save_settings();">{save}</a> </div>