{%section:error404%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>{%F:title%}</title>

<link href="/x4/adm/xres/xcss/e404.css" rel="stylesheet" type="text/css">

</head>

<body>

<div class="error404">

  <p class="big-fonts">Ошибка <span class="bg">404</span> — страница не найдена</p>

  <p class="title">Причины, которые могли привести к ошибке:</p>

  <div class="txt">

    <p><span>1.Адрес был набран неправильно.</span></p>

    <p>Проверьте правильность адреса. <a href="/">Перейти на главную страницу</a></p>

    <p><a href="/sitemap.xml">Перейти на карту сайта</a></p>

    <p><span>2.Возможно документ перемещен и находится по другому адресу.</span></p>

    <p>Пожалуйста, сообщите об этом <a href="{%F:admin_email%}">администратору</a>.</p>

    <p><span>3.Возможно вы использовали неправильные символы в адресе.</span></p>

    <p>Используйте символы из стандартной кодировки</p>

  </div>

    <a href="http://x3m.by" class="gen">Эта страница сгенерирована x3m.cms</a>

</div>

</body>

</html>

{%endsection:error404%}