{%section:newsSingle%}



  <div class="text">
    <h1>{%F:header%}</h1>
       {%F:news_long%}
  
  
  </div>

  

{%endsection:newsSingle%}



{%F:+(E:add_file_section(_common/extended/comments_news.html))%}  
{%F:#(E:call_module(comments.front))%}                                    
  
  {%F:#comments(comments:show_comments(news,{F:id},{F:header}))%}                                        
                                    
  {%->:_send_comments_form%}
  {%->:_comments%}
                                    