{%section:newsInterval%}



                        
                <h1>Новости</h1>

                <div class="news_wrapper">
                    {%each({F:newsList},k,v)%}
                    <div class="news_unit">
                        <div class="news_image">
                            <a href="{%F:v>link%}"><img src="{%F:v>image%}" alt=""></a>
                        </div>
                        <div class="news_content">
                            <p class="data">{%F:@v>news_date(E:dateRu({"format":"d x Y"}))%}</p>
                            <a href="{%F:v>link%}">{%F:v>header%}</a>
                            <p>{%F:v>news_short%}</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                      {%endeach%}
                  
                </div>
                

              
          
                    
    
        
                
        
{%endsection:newsInterval%}



