{%section:justViewed%}


  <div class="form-group">  
   <h5>{category_url_used}</h5>
 <div class="input-group">

              <input id="showCategoryPoint" name="showCategoryPoint" readonly class="form-control validate-selection xoad-ignore">
              <span class="input-group-btn"><a href="#"
              data-wintext="{catobj_situation}" data-winwidth="500"              
              data-callback="catalog.onDialogGroup"
              data-destination="showCategoryPoint" data-topindex="45"
              data-info="_CATGROUP" class="xList btn btn-default">
              {choose}</a> <input name="showCategoryPointId" id="showCategoryPointId" type="hidden"></span>
            </div>
            </div>
            

     <div class="form-group">  
    <h5>{number_of_objects}</h5>
    <input  class="form-control" id="objectsNumber" name="objectsNumber">
    </div>
        

{%endsection:justViewed%}