

{%section:page_line->%}

{%F:+b(E:setPageNavMove({"pages":"10"}))%}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {%F:page_line%}
    </ul>
</nav>



{%endsection:page_line%}

{%section:next_page->%}
 
    <li><a href="{%F:link%}"><img src="/project/templates/opsio.bi/_ares/images/pager-next.png" /></a></li>

    {%F:#b(TPA:setGlobalField({"nextLink":"{F:link}"}))%}

{%endsection:next_page%}

{%section:previous_page->%}

    <li><a href="{%F:link%}"><img src="/project/templates/opsio.bi/_ares/images/pager-prev.png" /></a></li>

    {%F:#b(TPA:setGlobalField({"prevLink":"{F:link}"}))%}

{%endsection:previous_page%}

{%section:one_page%}

   <li class="page-item"><a class="page-link" href="{%F:link%}">{%F:pnum%}</a></li>
    

{%endsection:one_page%}


          
{%section:one_page_selected%}
<li class="page-item active">
    <a class="page-link">{%F:pnum%} <span class="sr-only">(current)</span></a>
</li>
{%endsection:one_page_selected%}

