{%section:create_ShortLink%}

<!-- {%F:action%} -->
    {%if('{F:action}'=='edit')%}
        <form id="edit_ShortLink">
    {%else%}
        <form id="create_ShortLink">
    
  {%endif%}
  
  
  

<div class="panel-body col-lg-8">


                <div class="m-l-sm">

                        <a class="btn btn-success m-b-sm generateLink">{generateLink}</a><br>
                        <label class="control-label">{linkFrom}:</label>
                        <input class="form-control validate[required]" id="linkFrom" name="linkFrom" value="sh-xxx">
                </div>

                <div class="form-group m-t-sm m-l-sm"><label>{linkTo} {linkToTitle} </label>

                    <input class="form-control validate[required]" id="linkTo" name="linkTo"  value="/">
                </div>

                <div class="form-group m-l-sm">
                    <label class="control-label">{text}:</label>
                    <textarea class="form-control" id="text" name="text"></textarea>
                </div>

                <div class="form-group m-l-sm">
                    <label class="control-label">{numberOfTransitions}:</label>
                    <input  class="form-control" id="numberOfTransitions" name="numberOfTransitions" readonly="readonly" value="">
                </div>

                <a class="btn btn-success m-b-sm save" >{save}</a>

</div>
     
     
            
  
    </form>


     

{%endsection:create_ShortLink%}