@Keyword Search Standard Template
{%F:#e(D:dump({"value":"{F:value}"}))%}


{%section:showKeyWordSearch%}



<script>$(document).ready(function(){
    $('#showKeyWordSearch').showKeywordSearch();
}); </script>

<div class="col"  >
    <form id="{%F:moduleId%}" action="{%F:action%}" method="GET">
        <input id="showKeyWordSearch" type="search" name="{%F:name%}" placeholder="search">

        <div class="showKeywordsContainerResults" style="
        display:none;
        position: absolute;
		background-color: #f8f9fa !important;
		width: 100%;
		z-index: 10;
"> </div>
    </form>
</div>

                  
           
{%endsection:showKeyWordSearch%}


{%section:smartResults%}


 
  {%each({F:objects},k,val)%}
  
  <a href="{%F:val>_main>link%}" class="category_title">{%F:val>_main>Name%}{%F:val>ancestor>_main>Name%}</a>
                                        
                                        

 <ul>   
 {%each({F:val>items},k,value)%}       
                 
         <li>   
			<a tabindex="-1" class="ui-corner-all"  href="{%F:value>_main>link%}">
				<table>
					<tr>
						<td>
						<span class="foreign_goods_wrapimg">
							<img src="{%F:@value>tovarbase>image(E:imageTransform({"r":{"w":"50","h":"95"}}))%}" alt="{%F:value>_main>Name%}">
						</span>
					</td>
					<td>
						<span class="goods_name">
						<span class="link" href="{%F:value>_main>link%}"> {%F:value>_main>Name%} </span>
				
				{%F:#minMax(module.catalog.tpl:getMinMaxIshopPrice({"skuList":"{F:value>_sku}","removeZeroValues":"1","param":"price"}))%}
				{%F:value>tovarbase>rating%}
				       <div class="stars">
                                        
                                                   {%each(4,z,v)%}
                                                  
                                                    <span class="star{%if('0{F:z}'<'0{F:value>tovarbase>rating}')%} filled{%endif%}"></span>
                                                    
                                                    {%endeach%}
                                            
                                        </div>
										
				
                <span>Код: {%F:value>_main>id%}</span>
				<span class=" g-price">  {%if(!'{F:is_mono}')%}  от  {%endif%} {%F:@minMax>min>value(E:numberFormat())%} {%F:minMax>min>mainCurrency>currencySymbol%}</span>
						</td>
					</tr>
				</table>
			</a>	
		
			</li>
                 
       {%endeach%}
       </ul>   
      {%endeach%}                 
                      

{%endsection:smartResults%}    

             

{%section:noResults%}

There are no results for your request.

{%endsection:noResults%}