@Main Banners For main page




<img class="card-img-top" src="{%F:@value>gruppa>image(E:imageTransform({"r":{"w":"250","h":"180","r":"4:3"}}))%}" alt="{%F:value>_main>Name%}">

{%section:catalogCategoryList%}
<div class="row">

    <div class="col-9">
        <div id="carouselExampleControls" class="carousel slide main" data-ride="carousel" style="width: 100%">
            <div class="carousel-inner" >
                {%each({F:objects},k,value)%}
                <div data-key="{%F:k%}" class="carousel-item {%if('{F:k}'==0)%}show{%endif%}" {%if('{F:k}'==0)%}style="display:block;"{%endif%}>
                    <a href="{%F:value>_main>link%}">
                    {%if('{F:value>product>image}'!='')%}
                        <img class="d-block w-100" src="{%F:value>product>image%}" alt="Second slide">
                    {%else%}
                        <img src="http://placehold.it/700x450?text={%F:value>_main>Name%}" alt="">
                    {%endif%}
                    </a>
                </div>
                {%endeach%}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 100%;">
            <a href="/catalog"><img src="http://placehold.it/220x450?text=Banner" alt=""></a>
        </div>
    </div>
    <div class="row-12" style="width: 100%">
        {%each({F:objects},k,value)%}
        <a class="sliderClick slide main" data-key="{%F:k%}" href="#">
            {%if('{F:value>product>image}'!='')%}
            <img width="100px" class="img-thumbnail" src="{%F:value>product>image%}">
            {%else%}
            <img src="http://placehold.it/50x50" alt="">
            {%endif%}
        </a>
        {%endeach%}

    </div>

{%if(false)%}
    <script>
        $(document).ready(function() {

            debugger;
            $('.sliderClick').click(function (e) {
                debugger;
                e.preventDefault();
                var numSlide = $(this).attr('data-key') * 1;
                $('.carousel').carousel(numSlide);
            });
            $('.carousel.slide.main').carousel({
                interval: 2000
            });
        });
    </script>
{%endif%}

</div>
{%endsection:catalogCategoryList%}


{%endeach%}
