{%section:_menu_main_level0%}

<ul class="list-group">
    {%F:menuItems%}
    <li class="list-group-item"><a href="/catalog" class="dropdown-item">Full Catalog</a></li>
</ul>


{%endsection:_menu_main_level0%}
{%F:menuItems%}


{%section:_menu_item_level0%}
<li class="list-group-item"><a href="{%F:_menu>link%}">{%F:gruppa>h1%}</a></li>
        {%F:_menu>submenu%}
{%endsection:_menu_item_level0%}





{%section:_menu_main_level1%}
<div style="
    padding: 0 0 0 20px;
">
<ul class="list-group">
  {%F:menuItems%}
</ul>
</div>
{%endsection:_menu_main_level1%}


{%section:_menu_item_level1%}
<li class="list-group-item"><a href="{%F:_menu>link%}">
    {%if('{F:gruppa>image}'!='')%}
    <img style="width: 50px; /*height: 50px;*/" src="{%F:gruppa>image%}" alt="{%F:_main>Name%}">
    {%else%}
    <img src="http://placehold.it/50x50" alt="{%F:_main>Name%}">
    {%endif%}
    {%F:_main>Name%}</a></li>
{%endsection:_menu_item_level1%}


{%section:_menu_main_level2%}
{%F:menuItems%}
{%endsection:_menu_main_level2%}

{%section:_menu_item_level2%}

<li class="list-group-item"><a href="{%F:_menu>link%}">{%F:_main>Name%}</a></li>

{%endsection:_menu_item_level2%}


