@SKUs featured system for main page




<img class="card-img-top" src="{%F:@value>gruppa>image(E:imageTransform({"r":{"w":"250","h":"180","r":"4:3"}}))%}" alt="{%F:value>_main>Name%}">

{%section:catalogCategoryList%}
<div>
<h3>SKUs featured system</h3>
</div>
<div class="row">

    <!-- {%F:#zz(E:calc({"eval":"1"}))%}-->
{%each({F:objects},k,object)%}
    <!-- {%F:zz%}-->
    <!-- {%F:#zz(E:calc({"eval":"{F:zz}+1"}))%}-->
    {%each({F:object>_sku},k,value)%}
    <!-- {%F:#zz(E:calc({"eval":"{F:zz}+1"}))%}-->
    <!-- {%F:zz%}-->
        {%if({F:zz}<12)%}
        <div class="col-sm" style=" padding-bottom: 20px;">
            <div class="card" style="width: 10rem;">
                <a href="{%F:object>_main>link%}/?showSku={%F:value>basic%}">
                    {%if('{F:value>params>sameimage}'!='')%}
                    <img class="card-img-top" src="{%F:value>params>sameimage%}" alt="{%F:value>params>Name%}">
                    {%else%}
                    <img class="card-img-top" src="http://placehold.it/250x180" alt="{%F:value>params>Name%}">
                    {%endif%}
                </a>
                <div class="card-body">
                    <p class="card-text">{%F:value>params>Name%}</p>
                    <p class="card-text">{%F:value>params>price__in__USD%}</p>

                </div>
            </div>
        </div>
        {%endif%}
    {%endeach%}

{%endeach%}
</div>

                          {%->:page_line%}


{%endsection:catalogCategoryList%}


{%endeach%}
