{%section:_menu_main_level0%}

<h1>All Product Categories</h1>

<div>
    {%F:menuItems%}
</div>
{%endsection:_menu_main_level0%}
{%F:menuItems%}


{%section:_menu_item_level0%}
<div class="jumbotron">
    <div class="row">
        <h3><a href="{%F:_menu>link%}">{%F:gruppa>h1%}</a></h3>
    </div>
    <div class="row">
        {%F:_menu>submenu%}
    </div>
</div>
{%endsection:_menu_item_level0%}





{%section:_menu_main_level1%}
  {%F:menuItems%}
{%endsection:_menu_main_level1%}


{%section:_menu_item_level1%}
    <div style="padding: 20px;">
        <a href="{%F:_menu>link%}">{%F:_main>Name%}</a>
        <hr>
        <ul class="list-group">
        {%F:_menu>submenu%}
        </ul>
    </div>
{%endsection:_menu_item_level1%}


{%section:_menu_main_level2%}
{%F:menuItems%}
{%endsection:_menu_main_level2%}

{%section:_menu_item_level2%}

<li class="list-group-item"><a href="{%F:_menu>link%}">{%F:_main>Name%}</a></li>

{%endsection:_menu_item_level2%}


