{%section:_menu_main_level0%}
<div class="col-3">
    <nav class="navbar navbar-expand-sm navbar-light bg-white py-3 shadow-sm">
        <div class="container-fluid">
            <!--<a href="#" class="font-weight-bold">Catalog</a>-->
            <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">

                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="dropdown-submenu">
                        <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Product Catalog</a>
                        <ul class="dropdown-menu">
                            <li><a href="/catalog" class="dropdown-item">Full Catalog</a></li>
                            <li><hr></li>
                            {%F:menuItems%}
                        </ul>
                    </li>

                    <!-- nav dropdown -->
                    <!--<li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">Dropdown</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">Some action</a></li>
                            &lt;!&ndash; lvl 1 dropdown &ndash;&gt;
                            <li class="dropdown-submenu">
                                <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 1</a>

                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item">level 2</a></li>

                                    &lt;!&ndash; lvl 2 dropdown &ndash;&gt;
                                    <li class="dropdown-submenu">
                                        <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 2</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="dropdown-item">level 3</a></li>

                                            &lt;!&ndash; lvl 3 dropdown &ndash;&gt;
                                            <li class="dropdown-submenu">
                                                <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 3</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" class="dropdown-item">level 4</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>

                                    <li><a href="#" class="dropdown-item">level 2</a></li>
                                    <li><a href="#" class="dropdown-item">level 2</a></li>
                                </ul>
                            </li>

                            <li><a href="#" class="dropdown-item">Some other action</a></li>

                            <li class="dropdown-submenu">
                                <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 1</a>
                                <ul class="dropdown-menu">

                                    <li class="dropdown-submenu">
                                        <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 2</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="dropdown-item">level 3</a></li>
                                            <li><a href="#" class="dropdown-item">level 3</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu">
                                        <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 2</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="dropdown-item">level 3</a></li>
                                            <li><a href="#" class="dropdown-item">level 3</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#" class="dropdown-item">level 2</a></li>

                                    <li class="dropdown-submenu">
                                        <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 2</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="dropdown-item">level 3</a></li>
                                            <li><a href="#" class="dropdown-item">level 3</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#" class="dropdown-item">level 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>


{%endsection:_menu_main_level0%}
{%F:menuItems%}


{%section:_menu_item_level0%}
<li class="dropdown-submenu">
    <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">{%F:gruppa>h1%}</a>
    {%F:_menu>submenu%}
</li>

{%endsection:_menu_item_level0%}


{%section:_menu_main_level1%}
<ul class="dropdown-menu">
    <li class="dropdown-submenu">
        {%F:menuItems%}
    </li>
</ul>

{%endsection:_menu_main_level1%}


{%section:_menu_item_level1%}
    {%if('{F:_menu>submenu}'=='')%}
        <li><a href="{%F:_menu>link%}" class="dropdown-item">{%F:_main>Name%}</a>
    {%else%}
        <li class="dropdown-submenu">
            <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">{%F:_main>Name%}</a>
            {%F:_menu>submenu%}
        </li>
    {%endif%}
{%endsection:_menu_item_level1%}


{%section:_menu_main_level2%}

<ul class="dropdown-menu">
    {%F:menuItems%}
</ul>

{%endsection:_menu_main_level2%}

{%section:_menu_item_level2%}

        <li><a href="{%F:_menu>link%}" class="dropdown-item">{%F:_main>Name%}</a>

{%endsection:_menu_item_level2%}
            {%if('{F:_menu>submenu}'=='')%}
<li><a href="{%F:_menu>link%}" class="dropdown-item">{%F:_main>Name%}</a>
    {%else%}
    <ul class="dropdown-menu">
        {%F:_menu>submenu%}
    </ul>
    {%endif%}


{%section:_menu_main_level3%}

            <ul class="dropdown-menu">
                {%F:menuItems%}
            </ul>

{%endsection:_menu_main_level3%}

{%section:_menu_item_level3%}
            {%if('{F:_menu>submenu}'=='')%}
<li><a href="{%F:_menu>link%}" class="dropdown-item">{%F:_main>Name%}</a>
    {%else%}
    <ul class="dropdown-menu">
        {%F:_menu>submenu%}
    </ul>
    {%endif%}
{%endsection:_menu_item_level3%}




    <div class="col-2">
        <nav class="navbar navbar-expand-sm navbar-light bg-white py-3 shadow-sm">
            <div class="container-fluid">
                <a href="#" class="font-weight-bold">Multilevel Dropdown</a>
                <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">Catalog
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <!-- nav dropdown -->
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item">Some action</a></li>
                                <!-- lvl 1 dropdown -->
                                <li class="dropdown-submenu">
                                    <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 1</a>

                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">level 2</a></li>

                                        <!-- lvl 2 dropdown -->
                                        <li class="dropdown-submenu">
                                            <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 2</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="dropdown-item">level 3</a></li>

                                                <!-- lvl 3 dropdown -->
                                                <li class="dropdown-submenu">
                                                    <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 3</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" class="dropdown-item">level 4</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>

                                        <li><a href="#" class="dropdown-item">level 2</a></li>
                                        <li><a href="#" class="dropdown-item">level 2</a></li>
                                    </ul>
                                </li>

                                <li><a href="#" class="dropdown-item">Some other action</a></li>

                                <li class="dropdown-submenu">
                                    <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 1</a>
                                    <ul class="dropdown-menu">

                                        <li class="dropdown-submenu">
                                            <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 2</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="dropdown-item">level 3</a></li>
                                                <li><a href="#" class="dropdown-item">level 3</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-submenu">
                                            <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 2</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="dropdown-item">level 3</a></li>
                                                <li><a href="#" class="dropdown-item">level 3</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="#" class="dropdown-item">level 2</a></li>

                                        <li class="dropdown-submenu">
                                            <a href="#" role="button" data-toggle="dropdown" class="dropdown-item dropdown-toggle">level 2</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="dropdown-item">level 3</a></li>
                                                <li><a href="#" class="dropdown-item">level 3</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="#" class="dropdown-item">level 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>