@Standard category template




<img class="card-img-top" src="{%F:@value>gruppa>image(E:imageTransform({"r":{"w":"250","h":"180","r":"4:3"}}))%}" alt="{%F:value>_main>Name%}">

{%section:catalogCategoryList%}


{%if('{F:searchMode}')%}
<div class="search_panel">

    <h4>According to your request found <span class="red">{%F:count%}</span> goods.</h4>


    {%if(false)%}

    <div class="search_pan_wrapper_block">

        {%each({F:existInCategories},k,v)%}

        <div class="search_panel_block after_block">
            <a href="{%F:v>_main>searchLink%}">{%F:v>_main>Name%}</a>
            <div class="number_position">{%F:v>count%}</div>
        </div>

        {%endeach%}
    </div>

    {%endif%}
</div>

{%endif%}


<div>
{%if('{F:category>gruppa>h1}'!=='')%}
<h1>{%F:category>gruppa>h1%}</h1>
{%else%}
    <h1>{%F:category>_main>Name%}</h1>
{%endif%}
</div>
{%F:+tpl(TMS:load({"path":"horeca01.rgand.com/_modules/extended/paginatorCatalog.html"}))%}
{%if('{F:objects}'!='')%}
    <div class="row">
    {%each({F:objects},k,value)%}
        <div class="col-sm-2" style=" padding-bottom: 20px;">
        <div class="card" style="width: 10rem;">
            <a href="{%F:value>_main>link%}">
            {%if('{F:value>gruppa>image}'!='')%}
                <img class="card-img-top" src="{%F:value>gruppa>image%}" alt="{%F:value>_main>Name%}">
                {%else%}
                    {%if('{F:value>product>image}'!='')%}
                    <img class="card-img-top" src="{%F:value>product>image%}" alt="{%F:value>_main>Name%}">
                    {%else%}
                    <img class="card-img-top" src="http://placehold.it/160x110?text={%F:value>_main>Name%}" alt="{%F:value>_main>Name%}">
                    {%endif%}
            {%endif%}

            </a>
            <div class="card-body">
                <p class="card-text">{%F:value>_main>Name%}</p>
            </div>
        </div>
        </div>

    {%endeach%}
    </div>
{%else%}
<div class="alert alert-warning" role="alert">
    Empty result.
</div>
{%endif%}

                          {%->:page_line%}


{%endsection:catalogCategoryList%}


{%endeach%}
