@Стандартный шаблон объект


     {%F:#e(D:dump({"value":"{F:connectedObjects}"}))%}
<a href="#">
    <span class="color" style="background: url({%F:@val>params>image(E:imageTransform({"r":{"w":"25","h":"25"}}))%} )">
        <img src="{%F:@object>tovarbase>image(E:imageTransform({"r":{"w":"100","h":"244"}}))%}">
    {%F:@s(D:getVars())%}



{%section:pset%}





{%endsection:pset%}






{%section:catalogObject%}




    {%if('{F:isshowSku}'==true)%}
        <h1>{%F:object>_main>Name%} - {%F:skuData>params>Name%}</h1>

        {%F:#datas(plugin.catalog.rgand.tpl:jsonToArray({"id":"{F:skuData>params>owner}"}))%}
        {%F:#currenciesData(module.ishop.tpl:getCurrenciesList())%}
        {%F:#userDataOwner(module.fusers.tpl:getUserById({"id":"{F:skuData>params>owner}"}))%}
        {%F:#userDataAdditionalOwner(module.fusers.tpl:getUserAdditionalById({"id":"{F:skuData>params>owner}"}))%}


        <div class="row">
            {%F:#getPic(plugin.catalog.rgand.tpl:getPicInfo({"picfolder":"{F:skuData>params>picfolder}","files":"{F:skuData>params>files}"}))%}

            {%if('{F:getPic}'=='true')%}
                {%F:#pictures(E:getPicturesFromFolder({"folder":"{F:skuData>params>picfolder}"}))%}
            {%else%}
                {%F:#pictures(plugin.catalog.rgand.tpl:filesToListPic({"data":"{F:skuData>params>files}","sameimage":"{F:skuData>params>sameimage}"}))%}
            {%endif%}


            <div class="col-10">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 100%">
                    <div class="carousel-inner" >
                        {%if('{F:skuData>params>sameimage}'!='')%}
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{%F:skuData>params>sameimage%}" alt="First slide">
                        </div>
                        {%endif%}
                        {%each({F:pictures},k,value)%}
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{%F:value>image%}" alt="Second slide">
                        </div>
                        {%endeach%}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="row" style="width: 100%">
                    {%if('{F:skuData>params>sameimage}'!='')%}
                    <a class="sliderClick" data-key="0" href="#">
                        <img width="100px" class="img-thumbnail" src="{%F:skuData>params>sameimage%}">
                    </a>
                    {%endif%}
                    {%each({F:pictures},k,value)%}
                            {%F:#zz(E:calc({"eval":"{F:k}+1"}))%}
                            <a class="sliderClick" data-key="{%F:zz%}" href="#">
                                <img width="100px" class="img-thumbnail" src="{%F:value>image%}">
                            </a>
                    {%endeach%}
                    {%if(false)%}
                    <div class="col-sm-2" style=" padding-bottom: 20px;">
                        <div class="card" style="width: 10rem;">
                            <a href="#">
                                <img class="img-thumbnail" src="{%F:value>image)%}">
                            </a>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
            <div class="col-2">
                <div class="card" style="width: 100%;">
                    {%if('{F:userDataOwner>params>avatar}'!='')%}
                    <img style="width:100%;" src="{%F:userDataOwner>params>avatar%}" alt="">
                    {%else%}
                    <img src="http://placehold.it/150x150?text=Supplier Company" alt="">
                    {%endif%}
                    <div class="card-body">
                        {%if('{F:userDataAdditionalOwner}'!='false')%}
                        <p class="card-title">{%F:userDataOwner>params>company%}</p>
                        <p><hr></p>
                        <p>{%F:userDataAdditionalOwner>companyEmail%}</p>
                        <p>{%F:userDataAdditionalOwner>companyCountry%}</p>
                        <p>{%F:userDataAdditionalOwner>companyState%}</p>
                        <p>{%F:userDataAdditionalOwner>companyCity%}</p>
                        {%else%}
                        ....
                        </br>
                        ....
                        </br>
                        ....
                        </br>
                        ....
                        {%endif%}
                    </div>
                </div>
            </div>

        </div>
        <h5>Sku description</h5>
        <div>
            {%F:skuData>params>description%}
        </div>
        <h5>Sku information</h5>

        {%F:#tableSku(plugin.catalog.rgand.tpl:getTableForSku({"table":"{F:skuData>params>tableInformation}"}))%}
        {%F:#tierData(plugin.catalog.rgand.tpl:jsonToArray({"data":"{F:skuData>params>price__tier}"}))%}

        <table style="width: 60%" class="table table-striped">
            {%if(false)%}<!-- {F:skuData>params>table}-->{%endif%}
            {%each({F:tableSku},k,row)%}
                <tr>
                {%each({F:row},key,td)%}
                    <td>{%F:td%}</td>
                {%endeach%}
                </tr>
            {%endeach%}
        <table>



        <h5>Sku by TODO THIS</h5>
        <table style="width: 80%" class="table table-striped">
            <tr>
                <td>How much to add to cart</td>
                <td><input name="count" id="count" value="1"/></td>
                <td><button type="button" data-skuid="{%F:skuData>id%}" data-count="1" class="btn btn-secondary addToCart">Add to Cart</button></td>
                <td><button type="button" data-skuid="{%F:skuData>id%}" data-count="100" class="btn btn-secondary addToShoppingList">Add To Shopping List</button></td>
            </tr>
        </table>
        <table style="width: 80%" class="table table-striped">
            <tr>
                <td>Quantities</td>
                <td>Units</td>
                <td>Price</td>
                <td>Discount</td>
                <td>Price Discount</td>
            </tr>
            <tr>
                {%F:#cS(plugin.catalog.rgand.tpl:getInfoCurrent({"currencyId":"{F:skuData>params>price__currency}","needParam":"currencySymbol","currenciesData":"{F:currenciesData}"}))%}
                <td>{%F:skuData>params>price__quantity%}</td>
                <td>{%F:skuData>params>price__unit%}</td>
                <td>{%F:skuData>params>price>value%} {%F:cS%}</td>

                <td>
                    {%if('{F:skuData>params>discountPercent}')%}
                    {%F:skuData>params>discountPercent%} %
                    {%else%}
                    -
                    {%endif%}
                </td>
                <td>{%if('{F:skuData>params>price__discount}' && '{F:skuData>params>discountPercent}'!='')%}
                    {%F:skuData>params>price__discount%} {%F:cS%}
                    {%else%}
                    -
                    {%endif%}
                </td>
            </tr>
            {%each({F:tierData},k,data)%}
                {%F:#cS(plugin.catalog.rgand.tpl:getInfoCurrent({"currencyId":"{F:data>price__currency}","needParam":"currencySymbol","currenciesData":"{F:currenciesData}"}))%}
                <tr>
                    <td>{%F:data>price__quantity%}</td>
                    <td>{%F:data>price__unit%}</td>
                    <td>{%F:data>price%} {%F:cS%}</td>

                    <td>
                        {%if('{F:data>discountPercent}')%}
                        {%F:data>discountPercent%} %
                        {%else%}
                        -
                        {%endif%}
                    </td>
                    <td>{%if('{F:data>price__discount}')%}
                        {%F:data>price__discount%} {%F:cS%}
                        {%else%}
                        -
                        {%endif%}
                        </td>
                </tr>
            {%endeach%}
            {%if(false)%}
            <tr>
                <td>100</td>
                <td>lbs</td>
                {%if(false)%}
                <td>{%F:skuData>params>price__in__USD%}$</td>
                <td><button type="button" data-skuid="{%F:skuData>id%}" data-count="100" class="btn btn-secondary addToCart">Add to Cart</button></td>
                <td><button type="button" data-skuid="{%F:skuData>id%}" data-count="100" class="btn btn-secondary addToShoppingList">Add To Shopping List</button></td>
                {%else%}
                <td></td>
                <td></td>
                <td></td>
                {%endif%}
            </tr>
            <tr>
                <td>10</td>
                <td>lbs</td>
                {%if(false)%}
                <td>{%F:skuData>params>price__in__USD%}$</td>
                <td><button type="button" data-skuid="{%F:skuData>id%}" data-count="10" class="btn btn-secondary addToCart">Add to Cart</button></td>
                <td><button type="button" data-skuid="{%F:skuData>id%}" data-count="10" class="btn btn-secondary addToShoppingList">Add To Shopping List</button></td>
                {%else%}
                <td></td>
                <td></td>
                <td></td>
                {%endif%}
            </tr>
            {%endif%}
        </table>



        <script>

            $('.sliderClick').click(function (e) {
                e.preventDefault();
                var numSlide = $(this).attr('data-key')*1;
                $('.carousel').carousel(numSlide);
            });

            $('.carousel').carousel({
                interval: 2000
            })

        </script>
    {%else%}
    <h1>SKU for - {%F:object>_main>Name%}</h1>
            {%if('{F:object>_sku}'!='')%}
    <div class="row">
        {%each({F:object>_sku},k,value)%}
        <div class="col-sm-2" style=" padding-bottom: 20px;">
            <div class="card" style="width: 10rem;">
                <a href="{%F:object>_main>link%}/?showSku={%F:value>basic%}">
                    {%if('{F:value>params>sameimage}'!='')%}
                    <img class="card-img-top" src="{%F:value>params>sameimage%}" alt="{%F:value>params>Name%}">
                    {%else%}
                    <img class="card-img-top" src="http://placehold.it/250x180" alt="{%F:value>params>Name%}">
                    {%endif%}
                </a>
                <div class="card-body">
                    <p class="card-text">{%F:value>params>Name%}</p>
                    <p class="card-text">{%F:value>params>price__in__USD%}</p>

                </div>
            </div>
        </div>

        {%endeach%}
    </div>
            {%else%}
            <div class="alert alert-warning" role="alert">
                Empty result.
            </div>
            {%endif%}
    {%endif%}



{%endsection:catalogObject%}


            {%F:@value>params>sameimage(E:imageTransform({"r":{"w":"250","h":"180","r":"4:3"}}))%}