{%section:apiAccess%}

<section class="panel panel-default">
    <header class="panel-heading"><span class="h4">{this.moduleName}</span></header>

    <div class="panel-body">

    </div>

</section>
{%endsection:apiAccess%}