{%section:clearCache%}

<section class="wrapper-md">
 <div class="form-group">
        <form id="cacheClearForm">
           <div class="checkbox i-checks">
                        <label>
                            <input type="checkbox" id="recalculatePSG" checked name="recalculatePSG">
                            <i></i>{recalculatePSG}</label>
                    </div>
                    
                    
                    <div class="checkbox i-checks">
                        <label>
                            <input  type="checkbox"  id="setTreeBoost" name="setTreeBoost">
                            <i></i>{setTreeBoost}</label>
                    </div>
                  
                          <a class="btn btn-success m-b-sm clearCacheButton">
                                {clearCache}
                          </a>  
           </form>
        </div>
      </section>  
{%endsection:clearCache%}
