{%section:dash%}

<section>
    <section class="vbox">
        <section class="scrollable padder">
            <section class="row m-b-md">
                <div class="col-sm-6">
                    <h3 class="m-b-xs text-black">Control panel</h3>
                </div>
                <div class="col-sm-6 text-right text-left-xs m-t-md">
                    <a data-toggle="class:nav-xs, show" class="btn btn-icon b-2x btn-info btn-rounded"
                       href="#nav, #sidebar"><i class="fa fa-bars"></i></a></div>
            </section>


            <div class="row">


            </div>

            <div id="widgetContainer" class="row bg-light dk m-b">


            </div>

        </section>
    </section>
</section>

</section>
{%endsection:dash%}              