{%section:ishopStat_widget%}

  
          <div class="col-md-6" id="widget_{{data.name}}">
                    <section>
                      <header class="font-bold padder-v">
                        <div class="pull-right">
                          <div class="btn-group">
                            <button class="btn btn-sm btn-rounded btn-default dropdown-toggle" data-toggle="dropdown"> <span class="dropdown-label">Неделя</span> <span class="caret"></span> </button>
                            <ul class="dropdown-menu dropdown-select">
                              <li><a href="#">
                                <input type="radio" name="b">
                                Month </a></li>
                              <li><a href="#">
                                <input type="radio" name="b">
                                Weej</a></li>
                              <li><a href="#">
                                <input type="radio" name="b">
                                Day</a></li>
                            </ul>
                          </div>
                          </div>
                        Sale stats </header>
                      <div class="panel-body">

                        <div id="ishopStatGraph" style="width:100%; height:400px"></div>
                        
                      </div>
                      
                      <div class="row text-center no-gutter">
                        <div class="col-xs-4"> <span class="h4 font-bold m-t block">{{data.orders}}</span> <small class="text-muted m-b block">Orders</small> </div>
                        <div class="col-xs-4"> <span class="h4 font-bold m-t block">{{data.payed}}</span> <small class="text-muted m-b block">Payed</small> </div>
                        <div class="col-xs-4"> <span class="h4 font-bold m-t block">{{data.saled}}</span> <small class="text-muted m-b block">Products sales</small> </div>
                      </div>
                      
                      <div class="row text-center no-gutter">
                        <div class="col-xs-4"> <span class="h4 font-bold m-t block">{{data.clients}}</span> <small class="text-muted m-b block">Clients</small> </div>
                        <div class="col-xs-4"> <span class="h4 font-bold m-t block">{{data.sumpayed}}</span> <small class="text-muted m-b block">Payed,sum</small> </div>
                        <div class="col-xs-4"> <span class="h4 font-bold m-t block">{{data.sumpotencial}}</span> <small class="text-muted m-b block">Total orders sum</small> </div>
                      </div>
                      
                    </section>
                  </div>
        
        
        
{%endsection:ishopStat_widget%}
