{%section:listView%}


<section class="hbox stretch" id="{{data.module}}" style="display:none">


    <aside>
        <header class="header bg-white b-b clearfix">
            <div class="row m-t-sm">

                <div class="col-sm-6 m-b-xs">
                    <div class="input-group">
                        <input type="text" placeholder="" class="input form-control searchInModuleInput">

                        <span class="input-group-btn searchInModule"> <button type="submit" class="btn btn-default btn-icon">
                            <i class="fa fa-search"></i></button> </span>

                    </div>
                </div>
            </div>
        </header>

        <section class="panel panel-default">
            <header class="panel-heading text-right bg-gradient">
                <ul class="nav nav-tabs padder pull-left tabs"></ul>


                <span class="hidden-sm">&nbsp;</span>
            </header>

            <section class="vbox col2-inner">

            </section>


        </section>


    </aside>


</section>

<a data-target="#nav" data-toggle="class:nav-off-screen" class="hide nav-off-screen-block" href="#"></a>
</section>


{%endsection:listView%}