{%section:pagesCacheStat_widget%}


<div class="col-md-6" id="widget_{{data.name}}">
    <section>
        <header class="font-bold padder-v">
            Статистика кеша
        </header>
        <div class="panel-body">

            <div id="pagesCacheStat" style="width:100%; height:500px">

            </div>

        </div>


    </section>
</div>


{%endsection:pagesCacheStat_widget%}
