<ul class="nav navbar-nav hidden-xs modules-list">
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="i i-grid"></i> </a>
        <section class="dropdown-menu aside-xxl bg-white on animated fadeInLeft">
            <div class="row m-l-none m-r-none m-t m-b text-left">
                {%each({F:modules},key,val)%}
                <!--{%F:key%}-->
                {%each({F:val},key2,val2)%}

                <div class="col-xs-4">
                    <div class="padder-v">
                        <a href="#e/{%F:val2>name%}/start/">
                            <span class="m-b-xs block"> <i class="i i-mail i-2x text-primary-lt"></i> </span>
                            <small class="text-muted">{%F:val2>alias%}</small>
                        </a>
                    </div>
                </div>
                {%endeach%}

                {%endeach%}

            </div>
        </section>
    </li>
</ul>


{%section:main%}
<!DOCTYPE html>
<html class="js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8 user-scalable=no"
          charset="utf-8"/>
    <title>X4 - content managment.</title>

    <!---CSS START--->


    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>     -->

    <link rel="stylesheet" href="/x4/adm/xres/scale/app.v1.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/x4/adm/xres/xcss/x4.css"/>
    <link rel="stylesheet" type="text/css" href="/x4/adm/xres/xcss/animate.css"/>
    <!--[if lt IE 9]>
    <script src="js/ie/html5shiv.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/excanvas.js"></script> <![endif]-->

    <script src="{%F:components%}scale/app.v1.js"></script>

    <link rel="stylesheet" type="text/css" href="{%F:components%}jq.unoslider/unoslider.min.css"/>
    <link rel="stylesheet" type="text/css" href="{%F:components%}jq.growler/growler.css"/>
    <link rel="stylesheet" type="text/css" href="{%F:components%}dhtmlx/windows/dhtmlxwindows.css">
    <link rel="stylesheet" type="text/css" href="/x4/adm/xres/ximg/grid/dhtmlxgrid.css">
    <link rel="stylesheet" type="text/css" href="{%F:components%}dhtmlx/windows/skins/dhtmlxwindows_dhx_skyblue.css">
    <link rel="stylesheet" type="text/css" href="{%F:components%}dhtmlx/dataview/codebase/dhtmlxdataview.css">
    <link rel="stylesheet" type="text/css" href="{%F:components%}dhtmlx/dataview/types/ftypes.css">
    <link rel="stylesheet" type="text/css" href="{%F:components%}dhtmlx/menu/codebase/skins/dhtmlxmenu_dhx_skyblue.css">

    <link rel="stylesheet" type="text/css" href="{%F:components%}dropzone/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="{%F:components%}/jq.chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="{%F:components%}/jq.material/materialPreloader.min.css">
    <link rel="stylesheet" type="text/css" href="{%F:components%}/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css" href="{%F:components%}jq.validation/validation.css"/>
    <link rel="stylesheet" type="text/css" href="{%F:components%}jq.qb/query-builder.default.css"/>
    <link rel="stylesheet" type="text/css" href="{%F:components%}jq.jexcel/css/jquery.jexcel.css"/>
    <!---CSS END--->


    <script type="text/javascript">var __uid = '{%F:__uid%}';</script>
    <script src="/x4/adm/xjs/_lang/{%F:lang%}.js" type="text/javascript"></script>
    <script src="/x4/adm/xjs/debug.js"></script>
    <script src="/x4/node_modules/axios/dist/axios.min.js"></script>


    {%F:#e(E:enableJsFile({"ns":"core","customFile":"/x4/adm/xjs/_core/mootools-core.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"core","customFile":"/x4/adm/xjs/_core/handlebars-v13.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"core","customFile":"/x4/adm/xjs/_core/jquery.min.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"core","customFile":"/x4/inc/ext/xoad/js/xoad_optimized.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"core","customFile":"{F:components}mt.router/router.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"core","customFile":"{F:components}jq.material/materialPreloader.min.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"core","customFile":"{F:components}typograph/typograph.js"}))%}

    {%F:@z(E:getJsCollection({"ns":"core","compress":"1"}))%}

    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}jq.chosen/chosen.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}dhtmlx/dhtmlxcommon.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}dhtmlx/tree/dhtmlxtree.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}jq.sortable/sortable.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}jq.touchpunch/touchpunch.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}jq.unoslider/unoslider.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}jq.growler/growler.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}ace/ace.js"}))%}

    {%F:#e(E:enableJsFile({"ns":"basics","customFile":"{F:components}jq.tabs/tabs.js"}))%}


    {%F:@z(E:getJsCollection({"ns":"basics","compress":"1"}))%}

    <!--basics-->

    {%F:#e(E:enableJsFile({"ns":"validation","customFile":"{F:components}jq.validation/validationEngine.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"validation","customFile":"{F:components}jq.validation/validationRules.js"}))%}
    {%F:@z(E:getJsCollection({"ns":"validation","compress":"1"}))%}

    <!--validation-->

    {%F:#e(E:enableJsFile({"ns":"tabsstuff","customFile":"{F:components}mt.cardeon/cardeon.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"tabsstuff","customFile":"{F:components}mt.tabs/tabs.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"tabsstuff","customFile":"{F:components}mt.subnav/subnav.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"tabsstuff","customFile":"{F:components}datepicker/bootstrap-datepicker.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"tabsstuff","customFile":"{F:components}jq.hotkey/hotkey.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"tabsstuff","customFile":"{F:components}dropzone/lib/dropzone.js"}))%}


    {%F:@z(E:getJsCollection({"ns":"tabsstuff","compress":"0"}))%}

    <!--tabsstuff and cardeon-->


    <script src="{%F:components%}ckeditor2/ckeditor.js"></script>

    <script async src="{%F:components%}/jq.classy/js/jquery.classyedit.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{%F:components%}/jq.classy/css/jquery.classyedit.css">
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/dhtmlxgrid.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/dhtmlxgridcell.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/dhtmlxtreegrid.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/ext/dhtmlxgrid_filter.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/ext/dhtmlxgrid_splt.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/ext/dhtmlxgrid_hmenu.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/ext/dhtmlxgrid_srnd.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/ext/dhtmlxgrid_mcol.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"grid","customFile":"{F:components}dhtmlx/grid/ext/dhtmlxgrid_drag.js"}))%}


    {%F:@z(E:getJsCollection({"ns":"grid","compress":"1"}))%}

    <!--grid-->

    {%F:#e(E:enableJsFile({"ns":"windowsviews","customFile":"{F:components}dhtmlx/windows/dhtmlxwindows.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"windowsviews","customFile":"{F:components}dhtmlx/windows/dhtmlxcontainer.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"windowsviews","customFile":"{F:components}dhtmlx/menu/sources/dhtmlxmenu.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"windowsviews","customFile":"{F:components}dhtmlx/menu/sources/ext/dhtmlxmenu_ext.js"}))%}

    {%F:#e(E:enableJsFile({"ns":"windowsviews","customFile":"{F:components}dhtmlx/dataview/codebase/dhtmlxdataview_debug.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"windowsviews","customFile":"{F:components}dhtmlx/dataview/types/ftypes.js"}))%}


    {%F:@z(E:getJsCollection({"ns":"windowsviews","compress":"1"}))%}

    <!--windowsviews-->


    <script src="/x4/adm/xjs/boot.js"></script>
    <script src="/x4/adm/xjs/xModuleBackPrototype.js"></script>
    <script src="/x4/adm/xjs/adminInterfaceMonitors.js"></script>
    <script src="/x4/adm/xjs/widgetManager.js"></script>
    <script src="/x4/adm/xjs/settings.js"></script>
    <script src="/x4/adm/xjs/dash.js"></script>
    <script src="/x4/adm/xjs/adminInterface.js"></script>


    {%F:#e(E:enableJsFile({"ns":"postcompile","customFile":"{F:components}mt.datalist/datalist.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"postcompile","customFile":"{F:components}mt.xlist/xlist.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"postcompile","customFile":"{F:components}mt.fileman/fileman.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"postcompile","customFile":"{F:components}jq.download/download.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"postcompile","customFile":"{F:components}jq.jexcel/js/jquery.jexcel.js"}))%}
    {%F:#e(E:enableJsFile({"ns":"postcompile","customFile":"{F:components}jq.jexcel/js/jquery.jexcel.classy.js"}))%}


    {%F:@z(E:getJsCollection({"ns":"postcompile","compress":"0"}))%}


</head>


<body>
<section class="vbox" id="globalObserve">


    <header style="z-index:3" class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">


        <div class="navbar-header dk"><a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen"
                                         data-target="#nav">
            <i class="fa fa-bars"></i> </a> <a href="#" class="navbar-brand"> <img src="/x4/adm/xres/ximg/x4logo.png">
        </a>

        </div>


        <button class="file-manager btn btn-default"><i class="fa fa-cloud-upload text"></i> <span class="text">{file_manager}</span>
        </button>

        <button id="frontEditor" class="btn btn-default">
            <i class="fa fa-laptop text"></i>
            <span class="text">{front_editor_enable}</span>

            <i class="fa fa-check text-active"></i>
            <span class="text-active">{front_editor_enabled}</span>

        </button>


        <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">


                  <li class="hidden-xs"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="i i-chat3"></i> <span class="badge badge-sm up bg-danger count">0</span> </a>

                    <section class="dropdown-menu aside-xl animated flipInY">
                      <section class="panel bg-white">
                        <header class="panel-heading b-light bg-light"> <strong>You have <span class="count">0</span> notifications</strong> </header>
                        <!--
                          <div class="list-group list-group-alt"> <a href="#" class="media list-group-item"> <span class="pull-left thumb-sm"> <img src="images/a0.jpg" alt="John said" class="img-circle"> </span> <span class="media-body block m-b-none"> Use awesome animate.css<br>
                          <small class="text-muted">10 minutes ago</small> </span> </a> <a href="#" class="media list-group-item"> <span class="media-body block m-b-none"> 1.0 initial released<br>
                          <small class="text-muted">1 hour ago</small> </span> </a> </div>
                        <footer class="panel-footer text-sm"> <a href="#" class="pull-right"><i class="fa fa-cog"></i></a> <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a> </footer>
                          -->
                      </section>
                    </section>


                  </li>


            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{%F:login%}<b
                    class="caret"></b> </a>
                <ul class="dropdown-menu animated fadeInRight">
                    <span class="arrow top"></span>
                    <li><a href="#e/settings/start/">{settings}</a></li>


                    {%if({F:userType}=='_SUPERADMIN')%}
                    <li><a href="#e/users/start/">{users}</a></li>
                    {%endif%}

                    <li><a class="clearCacheNow" href="#">{clearCache}</a></li>
                    <li><a href="#">{help}</a></li>
                    <li class="divider"></li>
                    <li><a href="/login.php">{logout}</a></li>
                </ul>
            </li>
        </ul>
    </header>


    <section>
        <section class="hbox stretch">
            <!-- .aside -->
            <aside id="nav" class="bg-dark aside-md hidden-print nav-xs">
                <section class="vbox animated fadeInLeft">
                    <section class="w-f scrollable">
                        <div class="slimScrollDiv">
                            <!-- nav -->
                            <nav class="nav-primary hidden-xs">
                                <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm"></div>
                                <ul class="nav nav-main">

                                    <li><a class="auto" href="#e/dashboard/start/"> <i class="i i-home icon "> </i>
                                        <span>{dashboard}</span> </a></li>

                                    {%each({F:modulesList},key,v)%}


                                    {%if(!{F:v>hideInLeftMenu})%}
                                    <li><a class="auto" href="#e/{%F:key%}/start/"> <i
                                            class="i {%F:v>iconClass%} icon fa-2x "> </i>
                                        <span>{%F:v>moduleName%}</span> </a>

                                        {%if({F:v>plugins})%}
                                        <ul class="nav dk">

                                            {%each({F:v>plugins},kp,vp)%}

                                            <li><a class="auto" href="#e/{%F:key%}.{%F:kp%}/start/"> <i
                                                    class="i {%F:vp>config>iconClass%}"></i>
                                                <span>{%F:vp>pluginName%}</span> </a></li>

                                            {%endeach%}

                                        </ul>
                                        {%endif%}

                                    </li>
                                    {%endif%}
                                    {%endeach%}
                                </ul>


                            </nav>
                            <!-- / nav -->

                        </div>
                        <div class="slimScrollBar"></div>
                        <div class="slimScrollRail"></div>
                        </div>

                    </section>
                    <footer class="footer hidden-xs no-padder text-center-nav-xs"></footer>
                </section>
            </aside>
            <!-- /.aside -->


            <section id="globalContainer" class="scrollable"></section>


        </section>

    </section>

</body>
</html>


{%endsection:main%}
