{%section:_PROPERTYFUSERS%}

<!--{%F:action%}-->

{%if('{F:action}'=='edit')%}

<form id="edit_PROPERTYFUSERS">
    {%else%}
    <form id="create_PROPERTYFUSERS">

        {%endif%}

        <section class="panel panel-default text-sm propertyEditor">
            <div class="panel-body">

                <div class="form-group">
                    <label class="control-label">{name_of_the_properties_latin_only}:</label>
                    <input id="Name" class="form-control validate[required,validate-alpha]" name="basic" type="text"/>
                </div>

                <div class="form-group">
                    <label class="control-label">{alias_properties}:</label>
                    <input class="form-control  validate[required]" name="alias" type="text"/>
                </div>

                <div class="form-group">
                    <label>{type_of_propertyFusers}</label>
                    <select class="required form-control" id="typeProperty" name="type" type="text">
                        <option value="input">{input_text}</option>
                        <option value="checkbox">{checkbox_text}</option>
                        <option value="textarea">{textarea_text}</option>
                        <option value="select">{select_text}</option>
                    </select>

                </div>
                <div id="selectTextBlock" class="form-group" style="display: none">
                    <label>{selectText_text}:</label>
                    <textarea id="selectText" name="selectText" class="form-control" rows="10"></textarea>
                </div>


                <div class="propertyTypeEditor">

                </div>

                {%if('{F:action}'=='edit')%}

                <a class="btn btn-success m-b-sm saveEdited">{save}</a>
                {%else%}
                <a class="btn  btn-success m-b-sm save">{save}</a>
                {%endif%}


            </div>
        </section>
    </form>


    {%endsection:_PROPERTYFUSERS%}
