{%section:_PROPERTYSETFUSERS%}



    <form id="create_PROPERTYSETFUSERS">
        <input type="hidden" id="alias" name="alias" value="properties">
        <input type="hidden" id="basic" name="basic" value="properties">
    </form>

    <div type="persistentGrid">
        <a class="btn btn-sm btn-primary m-b-sm addProperty">
            <i class="fa fa-plus text addProperty"></i> <span class="text"> {add_propertyFusers}</span>
        </a>


        <div id="properties" style="min-height:400px"></div>


        <a class="btn btn-success m-b-sm save">
            {save_propertySetFusers}
        </a>
    </div>


    {%endsection:_PROPERTYSETFUSERS%}

