{%section:catalogExport%}

<div class="panel-body">
    <div class="form-group">

        <form id="exportXLS">
            <div class="panel-body clearfix collapse auto-show">

                <div class="checkbox i-checks">
                    <label>
                        <input type="checkbox" name="exportFullPath">
                        <i></i>{export_full_path}</label>
                </div>

            </div>


            <div class="form-group">
                <label>{encoding}:</label>
                <select class="required form-control" name="priority" type="text">
                    <option value="utf8">utf-8</option>
                    <option value="windows-1251">windows-1251</option>
                </select>

            </div>


            <a class="btn btn-success m-b-sm exportFilesCatalog">{export}</a>

            <div id="exportDownloadLink" style="display:none" class="form-group">
                <h5>{download_link}</h5>
                <a href="#">{download}</a>
            </div>

        </form>
    </div>
</div>
{%endsection:catalogExport%}

