{%section:currencyIshopProperty%}

{{#if options.tier}}

<div class="form-group pull-in clearfix">

    <div class="tierElementBase clearfix">

        <div class="col-sm-2">
            <label>{quantity}</label>
            <input  readonly id="{{basic}}__quantity" name="{{basic}}__quantity" value="0" class="form-control">
        </div>

        <div class="col-sm-2">
            <label>{unit}</label>
            <select id="{{basic}}__unit" name="{{basic}}__unit" class="form-control">
                {{#each options.units}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}

            </select>
        </div>



        <div class="col-sm-2">
            <label>{{alias}}</label>
            <input id="{{basic}}" name="{{basic}}" class="form-control">
        </div>


        <div class="col-sm-2">
            <label>{{alias}} {with_discount}</label>
            <input id="{{basic}}__discount" name="{{basic}}__discount" class="form-control">
        </div>


        <div class="col-sm-2">
            <label> </label>
            <select class="form-control" id="{{basic}}__currency" name="{{basic}}__currency">
            </select>
        </div>


    </div>

    <div class="tierElementsHolder panel">


    </div>

    <button class="addTierPrice">{add}</button>

</div>


{{else}}

<div class="form-group pull-in clearfix">
    <div class="col-sm-5">
        <label>{{alias}}</label>
        <input id="{{basic}}" name="{{basic}}" class="form-control">
    </div>

    <div class="col-sm-4">
        <label>{{alias}} {with_discount}</label>
        <input id="{{basic}}__discount" name="{{basic}}__discount" class="form-control">
    </div>


    <div class="col-sm-3">
        <label> </label>
        <select class="form-control" id="{{basic}}__currency" name="{{basic}}__currency">
        </select>
    </div>
</div>

{{/if}}




{%endsection:currencyIshopProperty%}


{%section:currencyIshopPropertyOptions%}


<div class="checkbox i-checks">
    <label>
        <input type="checkbox" id="tier" name="options.tier">
        <i></i> {use_tier_pricing}</label>
</div>


<div class="form-group">
    <label> {units} - use comma to separate</label>
        <input type="input" id="units" name="options.units" class="form-control">
</div>

{%endsection:currencyIshopPropertyOptions%}