{%section:permissions%}

<form class="permissionsForm">
{{#each userGroups}}

<section class="panel panel-default pos-rlt clearfix">

    <header class="panel-heading">
       <strong> {{this}} </strong>
    </header>

    <div class="form-group checkbox-inline">

        <div class="checkbox i-checks">
            <label>
                <input type="checkbox" id="{{@key}}.read"  name="{{@key}}.read">
                <i></i>{readPermission}</label>
        </div>

    </div>

</section>
{{/each}}

</form>
<button class="saveUserPermissions">{save}</button>


{%endsection:permissions%}



