@Main catalog template
{%section:MAIN%}
{%->:HEADER%}
{%->:BODY%}
{%->:TOP%}
{%->:MIDDLE%}
{%->:FOOTER%}
{%endsection:MAIN%}

{%section:HEADER->%}



<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%F:Title%}</title>

    <meta name="description" content="{%F:Description%}">
    <meta name="keywords" content="{%F:Keywords%}">
    <link rel="canonical" href="{%F:Canonical%}" />

    {%F:extendedMeta%}




    <link rel="stylesheet" type="text/css" href="/x4/adm/xjs/_components/jq.validation/validation.css" />

    <link href="{%F:ARES%}css/bootstrap/bootstrap.css" rel="stylesheet">

    <link href="{%F:ARES%}js/valid/validation.css" rel="stylesheet">


    {%F:+b(TPA:setGlobalField({"compressMainJs":"0"}))%}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


    {%F:+e(E:enableJsFile({"customFile":"x4/modules/catalog/js/catalogFront.js"}))%}
    {%F:+e(E:enableJsFile({"customFile":"x4/modules/ishop/js/ishopFront.js"}))%}
    {%F:+e(E:enableJsFile({"customFile":"x4/modules/fusers/js/fusersFront.js"}))%}

    {%F:+e(E:enableJsFile({"file":"js/main.js"}))%}
    {%F:+e(E:enableJsFile({"file":"js/bootstrap/bootstrap.min.js"}))%}


    {%F:Meta%}


    {%F:XFRONT_API%}

    {%F:JS%}

</head>


{%endsection:HEADER%}



{%section:BODY->%}
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-gray static-top">
    <div style="flex-wrap: nowrap;" class="container">
    <div class="row">
        <div class="col">
        <a style="float: left" class="navbar-brand " href="/">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
        </div>
        {%MF:menu-top%}
        <div class="col"  >
            {%F:#userData(module.fusers.tpl:getUser())%}
            <!-- {%F:userData>userGroup%} -->
            {%if('{F:userData>userGroup}'=='1076')%}
            {%endif%}
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <a href="/main/payment-history"><button type="button" class="btn btn-secondary">Payment History</button></a>
                <a href="/main/orders"><button type="button" class="btn btn-secondary">Orders</button></a>
            </div>
        </div>

        <div class="col"  >

            <a><img src="/project/templates/default/_ares/images/iconGoogle/assignment-24px.svg"/></a>

            {%MF:top%}


            {%if('{F:userData>authorized}'=='true')%}
                <a href="/main"><img src="/project/templates/default/_ares/images/iconGoogle/account_circle-24px.svg"/>
                    {%F:userData>userdata>name%} {%F:userData>userdata>surname%} {%if('{F:userData>userdata>name}'=='' || '{F:userData>userdata>surname}'=='')%}{%F:userData>userdata>patronymic%}{%endif%}
                    {%if(false)%}User Name{%endif%}
                </a>
            {%else%}
                <a href="/login"><img src="/project/templates/default/_ares/images/iconGoogle/account_circle-24px.svg"/>Login</a>
            {%endif%}

        </div>


    </div>



    </div>

</nav>

{%endsection:BODY%}


{%section:TOP->%}


{%endsection:TOP%}


{%section:MIDDLE->%}



<div class="container">
    {%MF:path%}

    {%MF:content%}
    {%MF:center%}

</div>
{%endsection:MIDDLE%}


{%section:FOOTER->%}

</body>
</html>
{%endsection:FOOTER%}

 