@Main catalog template
{%section:MAIN%}
{%->:HEADER%}
{%->:TOP%}
{%->:MIDDLE%}
{%->:FOOTER%}
{%endsection:MAIN%}

{%section:HEADER->%}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%F:Title%}</title>

    <meta name="description" content="{%F:Description%}">
    <meta name="keywords" content="{%F:Keywords%}">
    <link rel="canonical" href="{%F:Canonical%}" />

    {%F:extendedMeta%}

    <!-- Schema.org -->
    <meta itemprop="name" content="Documentation X4">
    <meta itemprop="description" content="Docs for X4 content managment">
    <meta itemprop="image" content="x4-thumbnail.jpg">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{%F:ARES%}docs/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="{%F:ARES%}docs/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="{%F:ARES%}docs/vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="{%F:ARES%}docs/vendor/prism/prism.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="{%F:ARES%}docs/css/theme.css">
    <link rel="stylesheet" href="{%F:ARES%}docs/css/layout.css">

    <!-- Open Graph -->
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">


    {%F:+b(TPA:setGlobalField({"compressMainJs":"0"}))%}

    {%F:+e(E:enableJsFile({"customFile":"x4/modules/catalog/js/catalogFront.js"}))%}

    <!-- JS Global Compulsory -->
    {%F:+e(E:enableJsFile({"file":"docs/vendor/jquery/dist/jquery.min.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/vendor/jquery-migrate/dist/jquery-migrate.min.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/vendor/popper.js/dist/umd/popper.min.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/vendor/bootstrap/dist/js/bootstrap.min.js"}))%}

    <!-- JS Implementing Plugins -->
    {%F:+e(E:enableJsFile({"file":"docs/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/vendor/jquery-ui/jquery-ui.core.min.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/vendor/jquery-ui/ui/widgets/menu.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/vendor/jquery-ui/ui/widgets/mouse.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/vendor/jquery-ui/ui/widgets/autocomplete.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/vendor/prism/prism.js"}))%}

    <!-- JS -->
    {%F:+e(E:enableJsFile({"file":"docs/js/main.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/js/autocomplete.js"}))%}
    {%F:+e(E:enableJsFile({"file":"docs/js/custom-scrollbar.js"}))%}


    {%F:XFRONT_API%}

    {%F:JS%}

</head>


{%endsection:HEADER%}



{%section:TOP->%}
<body class="bg-white">
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-4 col-lg-3 col-xl-2 bg-dark text-white duik-sidebar duik-sidebar--dark ui-autocomplete-wrapper--dark navbar-expand-md pt-0">
            <div class="d-flex justify-content-between bg-black-soft w-100">

                <a class="d-block w-md-100 p-3 mr-md-0" href="/docs">
                    <img class="mr-2" src="/media/x4logo.png" alt="X4 Docs" style="width: 125px;">
                    <span class="small">
              <span class="badge badge-light text-space-1">v1.4.11</span>

            </span>
                </a>

                <!-- Responsive Toggle Button -->
                <button class="btn btn-link text-white pl-0 d-md-none" type="button" data-toggle="collapse" data-target="#sidebar-nav" aria-controls="sidebar-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
                        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
                    </svg>
                </button>
                <!-- End Responsive Toggle Button -->
            </div>

            <!-- Header Search -->
            <div class="mb-4">
                <input class="js-search form-control form-control-sm w-100 form-control-dark bg-white-11 text-white border-0 rounded-0" type="text" placeholder="Search..." aria-label="Search..." data-url="include/json/autocomplete-data-for-documentation-search.json">
            </div>
            <!-- End Header Search -->

            <!-- Sidebar Nav -->
                {%MF:sidebar%}
            <!-- End Sidebar Nav -->

            <hr class="mt-0 mt-md-3 mb-4">

            <!-- Fast Links -->
            <ul class="duik-sidebar__nav mb-0">
                <li class="duik-sidebar__item"><a class="duik-sidebar__link" href="#" target="_blank"><i class="fa fa-desktop mr-2"></i> Live demo</a></li>
                <li class="duik-sidebar__item"><a class="duik-sidebar__link" href="#" title="Report an Issue" target="_blank"><i class="fas fa-bug mr-1"></i> Report an Issue</a></li>
            </ul>
            <!-- End Fast Links -->

            <hr class="mt-0 mt-md-3 mb-4">

            <div class="px-3 pb-5">
                <a class="btn btn-sm btn-block btn-primary" href="#" title="Download"><i class="fas fa-cloud-download-alt mr-1"></i> Download</a>
            </div>
        </nav>
        <!-- End Sidebar -->
{%endsection:TOP%}




{%section:MIDDLE->%}


        <main class="ml-sm-auto col-md-8 col-lg-9 col-xl-10 px-4 pt-4">
            <div class="row pt-3">
                <!-- Content Nav
                <div class="col-xl-2 order-xl-2 d-none d-xl-inline-block">
                    <ul class="js-scroll-nav duik-content-nav top-3">
                        <li class="duik-content-nav__item"><a href="#doc-about">About</a></li>
                        <li class="duik-content-nav__item"><a href="#doc-whats-included">What’s Included</a></li>
                        <li class="duik-content-nav__item"><a href="#doc-getting-started">Getting Started</a></li>
                        <li class="duik-content-nav__item"><a href="#doc-starter-template">Starter Template</a></li>
                        <li class="duik-content-nav__item">
                            <a href="#important-globals">Important globals</a>
                            <ul>
                                <li class="duik-content-nav__item"><a href="#html5-doctype">HTML5 doctype</a></li>
                                <li class="duik-content-nav__item"><a href="#responsive-meta-tag">Responsive tag</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                 End Content Nav -->

                <!-- Content -->
                <div class="col-xl-10 order-xl-1 duik-content-2 border-bottom">
                    {%MF:content%}

                </div>
            </div>
            {%MF:path%}
{%endsection:MIDDLE%}


{%section:FOOTER->%}

            <!-- Footer -->
            <footer class="small py-4">
                <div class="row">
                    <!-- Copyright -->
                    <div class="col-md-6 text-center text-dark text-md-left mb-3 mb-md-0">
                        &copy; 2019 <a class="text-dark" href="#">X4 team</a>. All Rights Reserved.
                    </div>
                    <!-- End Copyright -->

                    <!-- Social Icons -->
                    <div class="col-md-6 col-xl-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Github">
                                <a class="text-dark" target="_blank" href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <a class="text-dark" target="_blank" href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                                <a class="text-dark" target="_blank" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <a class="text-dark" target="_blank" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item ml-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                <a class="text-dark" target="_blank" href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Icons -->
                </div>
            </footer>
            <!-- End Footer -->
        </main>
    </div>
</div>

<!-- Go to Top -->
<a class="js-go-to duik-go-to" href="javascript:;">
    <span class="fa fa-arrow-up duik-go-to__inner"></span>
</a>

</body>
</html>
{%endsection:FOOTER%}

 