@any page template
{%section:MAIN%}
{%->:HEADER%}
{%->:TOP%}
{%->:MIDDLE%}
{%->:FOOTER%}
{%endsection:MAIN%}



{%section:MIDDLE->%}

<div class="container">
    <div class="row">
        <div class="col-2 collapse d-md-flex bg-light pt-2 min-vh-100" id="sidebar">
            {%MF:left%}
        </div>
        <div class="col pt-2">
            {%MF:path%}

            {%MF:content%}

        </div>
    </div>
</div>
{%endsection:MIDDLE%}



 