{%section:_PAGE%}
{%F:#tpl(TMS:load({"module":"pages","prefix":"MODULES","path":"pages/tpl/slotzContainer.html"}))%}


<div class="row">
    <div class="col-md-6">
        <section>
            <div class="panel-body wrapper">
                {%if('{F:action}'=='edit')%}
                <form role="form" id="edit_PAGE">
                    {%else%}
                    <form role="form" id="create_PAGE">
                        {%endif%}


                        <div class="form-group">

                            <h5>{page_name}</h5>
                            <input id="Name" name="Name" class="form-control validate[required,custom[alpha]]"
                                   placeholder="{enter_page_name}"/>
                            <span class="help-block m-b-none">{page_name_displayed_in_menu}</span>

                        </div>


                        <div class="form-group">
                            <h5>{link}</h5>
                            <div class="input-group m-b">
                                <span class="input-group-btn">
                                        <button type="button" class="btn generate-link btn-default">{create}</button>
                                 </span>
                                <input name="basic" id="basic"
                                       class="form-control validate[required,custom[alphaNum]]"/>
                            </div>
                        </div>

                        {%if('{F:action}'!='edit')%}
                        <div class="form-group">
                            <h5>{page_situation}</h5>

                            <div class="input-group">
                                <input id="ancestor" name="ancestor" readonly
                                       class="form-control validate-selection xoad-ignore"/>
                                <span class="input-group-btn">
                                <a href="#" data-wintext="{page_situation}" data-winwidth="500"
                                   data-on-data-return="pages.onTreeDialogReturn" data-callback="pages.onDialogGroup"
                                   data-destination="ancestor" data-topindex="45" data-info="_GROUP,_LVERSION"
                                   class="xList btn btn-default"> <i class="fa fa-css3"></i> {choose}</a>                                                     <input
                                        name="ancestorId" id="ancestorId" type="hidden"/></span>
                            </div>
                        </div>

                        {%endif%}


                        <div {%if('{F:action}'!='edit')%} style="display: none;" class="form-group hiddenTemplates m-b" {%else%}
                        class="form-group" {%endif%}>
                        <h5>{page_template}</h5>
                        <select name="Template" id="Template" class="form-control"></select>
                        <span class="help-block m-b-none">{slot_placement_depends_on_template}</span>
            </div>


            <section class="panel panel-default pos-rlt clearfix">

                <header class="panel-heading">
                    <ul class="nav nav-pills pull-right">
                        <li><a class="panel-toggle text-muted" href="#"><i class="fa fa-caret-down text-active"></i><i
                                class="fa fa-caret-up text"></i></a></li>
                    </ul>
                    {page_visibility}
                </header>

                <div class="panel-body clearfix collapse auto-show">

                    <div class="checkbox i-checks">
                        <label>
                            <input type="checkbox" name="DisableGlobalLink">
                            <i></i>{disable_page}</label>
                    </div>

                    <div class="checkbox i-checks">
                        <label>
                            <input type="checkbox" name="Visible">
                            <i></i>{do_not_display_the_global_menu}</label>
                    </div>

                    <div class="checkbox i-checks">
                        <label>
                            <input type="checkbox" name="DisableMapLink">
                            <i></i>{disconnect_the_link_from_the_site_map}</label>
                    </div>


                    <div class="checkbox i-checks">
                        <label>
                            <input type="checkbox" name="DisablePath">
                            <i></i>{do_not_display_in_the_way_of_the_page}</label>
                    </div>

                    <div class="checkbox i-checks">
                        <label>
                            <input type="checkbox" name="DisableCache">
                            <i></i>{do_not_cache_this_page}</label>
                    </div>


                    <div class="checkbox i-checks">
                        <label>
                            <input type="checkbox" name="DoNotSuppressTitle">
                            <i></i>{do_not_supperess_title}</label>
                    </div>


                </div>
            </section>


            <section class="panel panel-default pos-rlt clearfix">

                <header class="panel-heading">
                    <ul class="nav nav-pills pull-right">
                        <li><a class="panel-toggle text-muted" href="#"><i class="fa fa-caret-down text-active"></i><i
                                class="fa fa-caret-up text"></i></a></li>
                    </ul>
                    {page_seo_parameters}
                </header>

                <div class="panel-body collapse clearfix auto-show">


                    <div class="form-group">
                        <label>{page_title}</label>
                        <input class="form-control" id="Title" name="Title"/>
                    </div>

                    <div class="form-group">
                        <label>{keywords}</label>
                        <input class="form-control" id="Keywords" name="Keywords"/>
                    </div>

                    <div class="form-group">
                        <label>{page_description}</label>
                        <input class="form-control" id="Description" name="Description"/>
                    </div>


                    <div class="form-group">
                        <label>{additional_meta_tags}</label>
                        <textarea class="form-control" id="Meta" name="Meta"/>  </textarea>
                    </div>

                </div>
            </section>


            <div class="form-group">
                <h5>{Comment}</h5>
                <textarea name="comment" id="comment" class="form-control"></textarea>
            </div>


            <a href="#" class="btn btn-success save">{save}</a>

            {%if('{F:action}'=='edit')%}
            <a href="#" target="_blank" class="btn btn-primary showOnSite">{view_page_on_website}</a>

            {%endif%}
            </form>
    </div>


    </section>

</div>

{%F:@t(TMS:parse({"section":"slotzContainer"}))%}

</div>

{%endsection:_PAGE%}
