@charset "UTF-8";

.grid-view {
    padding: 15px 12px 5px;
}

.cke_textarea_inline {

    height: auto;
    overflow: auto;
    -webkit-appearance: textfield;
}


ul.smartblocks ul {
    padding: 5px 5px 9px 16px;
    margin: 3px;

}

ul.smartblocks li.grouped {
    background: #FAFAFA;

}


#nav .vbox {
    z-index: 2;
}


#iptcwin {
    background: white none repeat scroll 0 0;
    border: 1px solid #ccc;
    left: 36%;
    padding: 20px;
    position: absolute;
    top: 17%;
    z-index: 100;
}

.ace_editor {
    border: 1px solid lightgray;
    margin: auto;
    height: 600px;

}


.ishopFilter {
    margin: 15px 15px;
}

   
