{%section:main%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/XHTML1/DTD/XHTML1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Установка X4</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="/install/css/global.css" rel="stylesheet" type="text/css" />
{%F:xoadHeader%}   
<script language="javascript" charset="ISO-8859-1" src="install/prototype.js"></script>
<script language="javascript" src="install/install.js"></script>
<script language="javascript">var install={%F;:xObject%}</script>


</head>
<body>
<div class="bgbottom">
  <div class="bgtop">
    <div class="minWidth">
      <div class="maincontainer">
      <div class="top"> <a href="" class="logo"></a><span>Исталляция системы</span> </div>
        <div class="middle">
          <ul id="indicator" class="indicator">
            <li class="first"><span class="selected">Лицензия</span></li>
            <li><span>Настройка БД</span></li>
            <li><span>Установка паролей</span></li>
            <li class="last"><span>Конец установки</span></li>
          </ul>
          
          <div id="content">
          {%->:process%}
          </div>

<div class="clear"></div>
    </div>
  </div>
</div>
<div class="bottom">
  <div class="bottom-inner">
    <div class="b-txt1">
      <p>Центр информационных технологий "Биконсалт"</p>
    </div>
    <div class="b-txt2"> <a href="http://www.x3m.by">x3m.by</a> </div>
  </div>
</div>
</body>
</html>


{%endsection:main%}

{%section:first_page->process%}

<h1>Лицензионное соглашение</h1>

<div class="text">            
<textarea readonly="" rows="20" cols="120">ЛИЦЕНЗИОННОЕ СОГЛАШЕНИЕ НА ИСПОЛЬЗОВАНИЕ ПРОГРАММНОГО ПРОДУКТА «X4»

Настоящее лицензионное соглашение заключается между пользователем программного продукта «X4» и ОДО «Центр Информационных Технологий «Биконсалт». Перед использованием продукта внимательно ознакомьтесь с условиями данного соглашения. Если Вы не согласны с условиями данного соглашения, Вы не можете использовать данный продукт. Установка и использование продукта означает ваше полное согласие со всеми пунктами настоящего соглашения.

Основные термины настоящего соглашения:

• ЭКЗЕМПЛЯР ПРОГРАММЫ -- копия продукта "X4", включающая в себя
  исходный текст продукта и только одну копию структуры и таблиц 
  базы данных, входящих в состав продукта, а также любую документацию
  по использованию продукта;
• САЙТ -- совокупность данных одного ЭКЗЕМПЛЯРА ПРОГРАММЫ с уникальным
  идентификатором, с помощью которого группируются объекты программы
  (информационные блоки, веб-формы, форумы, шаблоны, шаблоны писем и
  другие) для их совместного отображения и использования, обычно
  в одном внешнем виде, языке интеРБейса, доменном имени или каталоге.
  Каждому сайту соответствует запись в списке "Сайтов" меню
  "Настройки Системы".

Лицензионное соглашение вступает в силу с момента приобретения продукта и действует на протяжении всего срока использования продукта. 

1.  ПРЕДМЕТ ЛИЦЕНЗИОННОГО СОГЛАШЕНИЯ

1.1 Предметом настоящего лицензионного соглашения является право
    использования 1 (одного) экземпляра программного продукта
    (В дальнейшем "ЭКЗЕМПЛЯРА ПРОГРАММЫ", "программа" или "продукт")
    "X4", предоставляемое вам ОДО «Центр Информационных
    Технологий «Биконсалт», в порядке и на условиях, установленных
    настоящим соглашением.
1.2 Все положения настоящего соглашения распространяются как на весь
    продукт в целом, так и на его отдельные компоненты. Пользователю
    предоставляется право создать один САЙТ на базе одного ЭКЗЕМПЛЯРА
    ПРОГРАММЫ. Создание большего числа САЙТОВ возможно только при
    условии оплаты стоимости дополнительных сайтов в порядке,
    предусмотренном п. 3.1. настоящего соглашения.
1.3 Лицензионное соглашение не предоставляет право собственности на
    продукт «X4» и его компоненты, а только право использования
    ЭКЗЕМПЛЯРА ПРОГРАММЫ и его компонентов в соответствии с условиями,
    которые обозначены в пункте 3 настоящего соглашения.

2.  АВТОРСКИЕ ПРАВА

2.1 Продукт «X4 является интеллектуальной собственностью
    ОДО «Центр Информационных Технологий «Биконсалт».
2.2 Всеми правами собственности и авторскими правами на продукт
    «X4», включая документацию и исходный текст обладает
    ОДО «Центр Информационных Технологий «Биконсалт».
2.3 Продукт защищен законом РБ «О правовой охране программ для
    электронных вычислительных машин и баз данных» от 23 сентября
    1992 года, Законом РБ «Об авторском праве и смежных правах»
    от 9 июля 1993 года, а также международными договорами. 
2.4 В случае нарушения авторских прав предусматривается ответственность
    в соответствии с действующим законодательством РБ.

3.  УСЛОВИЯ ИСПОЛЬЗОВАНИЯ ПРОДУКТА И ОГРАНИЧЕНИЯ
 
3.1 Настоящее соглашение предоставляет право установки приобретенного
    ЭКЗЕМПЛЯРА ПРОГРАММЫ «X4» в рамках десяти (десяти) 
    Интернет - проектов.  Пользователь имеет право создать один САЙТ
    на базе одного ЭКЗЕМПЛЯРА ПРОГРАММЫ. Создание большего числа САЙТОВ
    возможно только при условии оплаты стоимости дополнительных сайтов.
    Стоимость дополнительных сайтов составляет 20% от стоимости
    коробочной версии программного продукта.
3.2 Пользователь не может копировать программу, передавать ее третьим
    лицам или распространять программу и ее компоненты, а также созданные
    на базе программы сайты, в любой форме, в том числе в виде исходного
    текста, каким-либо способом, в том числе сдавать в аренду/прокат
    программу и ее компоненты, а также созданные на ее базе сайты.
3.3 Пользователь может изменять, добавлять или удалять любые файлы
    приобретенного ЭКЗЕМПЛЯРА ПРОГРАММЫ «X4» в соответствии
    с Российским Законодательством об авторском праве. В таком случае
    ОДО «Центр Информационных Технологий «Биконсалт» не гарантирует
    бесперебойную работу программы и обновлений.
3.4 Запрещается удалять любую информацию об авторских правах.
3.5 Запрещается любое использование системы, противоречащее действующему
    законодательству РБ.

4.  ОТВЕТСТВЕННОСТЬ СТОРОН

4.1 За нарушение условий настоящего соглашения наступает ответственность,
    предусмотренная законодательством РБ.
4.2 Компания ОДО «Центр Информационных Технологий «Биконсалт» не несет
    ответственности перед пользователем продукта «X4» за любой ущерб,
    любую потерю прибыли, информации или сбережений, связанных
    с использованием или с невозможностью использования продукта, даже
    в случае предварительного уведомления о возможности такого ущерба,
    или по любому иску третьей стороны.

5.  ОГРАНИЧЕННАЯ ГАРАНТИЯ

5.1 Компания ОДО «Центр Информационных Технологий «Биконсалт» предоставляет
    услуги гарантийного обслуживания программного продукта в течение одного
    года с момента приобретения. Все положения настоящего пункта
    применяются только в течение срока действия гарантийного обслуживания.
5.2 В случае несоблюдения пункта 3 настоящего соглашения, пользователь
    автоматически теряет предоставляемую гарантию.
5.3 При изменении цены и комплектации версий продукта «X4» компания
    ОДО «Центр Информационных Технологий «Биконсалт» обязуется опубликовать
    единые условия соответствия старых версий новым версиям продукта.
    Продление технической поддержки на следующий год выполняется по цене
    новой версии продукта, действующей на момент продления.

6.  УСЛОВИЯ ТЕХНИЧЕСКОЙ ПОДДЕРЖКИ
 
6.1 Приобретая продукт «X4», пользователь получает возможность
    в течение одного года бесплатно пользоваться услугами технической
    поддержки компании ОДО «Центр Информационных Технологий «Биконсалт».
    Все положения настоящего пункта действуют только в течение одного
    года с момента приобретения продукта и в течение дополнительно
    оплаченного периода технической поддержки.
6.2 Гарантийное обслуживание предусматривает устранение ошибок в программном
    продукте «X4», выявленных в течение гарантийного периода,
    консультации по электронной почте и в специальном разделе сайта службы
    технической поддержки на сайте www.x3mcms.com в течение гарантийного
    срока по рабочим дням (график выходных РБ) с 10 утра до 17 часов
    московского времени.
6.3 Пользователь продукта «X4» может бесплатно скачивать новые версии
    продукта, изменения к модулям, примеры реализации тех или иных
    интерфейсов к продукту, обновления к ядру.
6.4 Пользователю продукта предоставляется возможность размещать заявки на
    создание специализированных модулей на льготных условиях, а также
    заказывать на льготных условиях обновление между версиями продукта
    силами сотрудников компании.
6.5 Пользователь продукта может приобрести дополнительный год технической
    поддержки за 30% текущей стоимости ЭКЗЕМПЛЯРА ПРОГРАММЫ. Техническая
    поддержка продлевается непрерывно. Срок действия техподдержки
    и обновлений продляется на один год с момента завершения предыдущего
    периода.

7.  ИЗМЕНЕНИЕ И РАСТОРЖЕНИЕ СОГЛАШЕНИЯ
 
7.1 ОДО «Центр Информационных Технологий «Биконсалт» оставляет за собой право
    внести изменения в настоящее соглашение в любой момент, опубликовав
    соответствующие изменения на своем интернет–сайте по адресу
    www.abocms.ru за 20 календарных дней до вступления этих изменений
    в силу.
7.2 В случае невыполнения пользователем одного из вышеуказанных положений,
    ОДО «Центр Информационных Технологий «Биконсалт» имеет право в
    одностороннем порядке расторгнуть настоящее соглашение уведомив об этом
    пользователя.
7.3 При расторжении соглашения вы обязаны прекратить использование продукта
    и удалить экземпляр продукта полностью.
7.4 Пользователь может расторгнуть данное соглашение в любое время,
    полностью удалив ЭКЗЕМПЛЯР ПРОГРАММЫ «X4».
7.5 В случае если компетентный суд признает какие-либо положения настоящего
    соглашения недействительными, Соглашение продолжает действовать в
    остальной части.

Настоящее лицензионное соглашение распространяется также на все новые версии
продукта и все обновления, предоставляемые пользователю на условиях
технической поддержки.

ОДО «Центр Информационных Технологий «Биконсалт»
Адрес: г.Минск ул. Академическая 11(б)
Телефон/Факс: 284-16-40(многоканальный)
Web: abiatec.com; x4.by
E-mail: info@abiatec.com
</textarea>
<a href="javascript:void(0)" onclick="XTR_install.next('db');" class="button">Принимаю условия лицензионного соглашения</a>
</div>

{%endsection:first_page%}




{%section:db%}

<h1>Шаг 1 Настройка БД</h1>
    <div class="descr">
    Для хранения данных X4 использует базу данных MYSQL. <br>
    Необходимо указать реквизиты доступа к базе данных. 
    </div>
<div class="text">    
    <div id="error"> </div>
    <ul class="form">
    <form name="database" id="database">
    <li><span>Хост базы данных:</span>
    <input type="text" value="localhost" name="db_host"/></li>    
    <li><span>Имя базы данных:</span>
            <input type="text" value="" maxlength="64" name="db_name"/>
            </li>
     <li><span>Пользователь:</span>
            <input type="text" value="root" maxlength="16" name="db_user"/>
            </li>
            
    <li><span>Пароль:</span>
    <input type="password" value="" name="db_password"/>
            </li>
    </form></ul>

    <a href="javascript:void(0)" onclick="XTR_install.database();" class="button">Перейти к следующему шагу</a>
                                     
</div>

{%endsection:db%}



{%section:datageneration%}
<h1><H2>Шаг 2 данные администратора и генерация конфигурационных файлов<H2></h1>
    <div class="text">
    <div id="error"> </div>    
    <ul class="form">
     <form name="admin" id="admin">
    <li><span>Логин :</span>
    <input type="text" value="" name="Name"/></li>  

        <li><span>Пароль:</span>
        <input  type="password" value="" maxlength="64" name="Password"/></li>  
        
            <li><span>Пароль повторно:</span>
        <input type="password" value="" maxlength="64" name="passwordAgain"/></li>  
                <li><span>Email:</span>
        <input type="text" value="" maxlength="64" name="Email"/></li>  
    
        
        <ul>
        <a href="javascript:void(0)" onclick="XTR_install.check_admin();" class="button">Cоздать учетную запись</a>
        </div>
    
    </div> 
        
    
 
{%endsection:datageneration%}
  

{%section:end%}
    <div class="text">
    <h1>Установка успешно завершена<h1>    
     <a href="/admin"> перейти в систему управления</a>
    </div>
{%endsection:end%}


{%section:conf_template%}
<?php

?>
{%endsection:conf_template%}
  
  
  

