

goodsToOrder
{%F:@dsfsd(D:getVars())%}


{%section:ishopCart%}

{%F:#goodsByOwner(plugin.ishop.orders.tpl:getGoodsGroupByOwner({"objects":"{F:objects}"}))%}
{%F:#userData(module.fusers.tpl:getUser())%}



{%if('{F:userData>authorized}'=='true')%}

        <form  id="sendOrder" action="/cart/~submitOrder" method="POST">

            <div>
                <h1>User Information</h1>
            </div>
            <div class="row">

                <div class="form-group">
                    <label for="name">First Name</label>
                    {%if('{F:userData>userdata>name}'=='')%}
                    <input type="text" class="form-control" name="name" id="name" value="Name"  placeholder="First Name">
                    {%else%}
                    <input type="text" class="form-control" name="name" id="name" value="{%F:userData>userdata>name%}"  placeholder="First Name">
                    {%endif%}

                </div>
            </div>
            <div class="row">

                <div class="form-group">
                    <label for="surname">Last Name</label>
                    <input type="text" class="form-control" name="surname" id="surname" value="{%F:userData>userdata>surname%}"  placeholder="Last Name">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="patronymic">Middle name</label>
                    <input type="text" class="form-control" name="patronymic" id="patronymic" value="{%F:userData>userdata>patronymic%}" placeholder="Middle name">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="hidden" class="form-control" name="email" value="{%F:userData>userdata>email%}">
                    <input type="hidden" class="form-control" name="phone" value="{%F:userData>userdata>phone%}" >
                    <input type="hidden" class="form-control" name="userId" value="{%F:userData>id%}">
                    <input type="hidden" class="form-control" name="manager_id" value="">
                    <input type="hidden" class="form-control" name="comments" value="">
                    <input type="hidden" class="form-control" name="paysystem" value="">
                    <input type="hidden" class="form-control" name="delivery" value="">
                    <input type="hidden" class="form-control" name="country" value="">
                    <input type="hidden" class="form-control" name="state" value="">
                    <input type="hidden" class="form-control" name="zip" value="">
                    <input type="hidden" class="form-control" name="street_1" value="">
                    <input type="hidden" class="form-control" name="street_2" value="">
                    <input type="hidden" class="form-control" name="city" value="">





                    <input type="hidden" name="proceedItems" value="">
                </div>

            </div>



        </form>

        {%each({F:goodsByOwner},idOwner,dataOwner)%}

    <!--  userData>id ->{%F:userData>id%} idOwner ->{%F:idOwner%}-->
        {%F:#userDataOwner(module.fusers.tpl:getUserById({"id":"{F:idOwner}"}))%}
        {%F:#userDataAdditionalOwner(module.fusers.tpl:getUserAdditionalById({"id":"{F:idOwner}"}))%}

        {%F:#dataDeliveryList(module.ishop.tpl:getDeliveryList())%}

        {%F:#userDataLocations(plugin.catalog.locations.tpl:getLocationByOwner({"id":"{F:userData>id}"}))%}


        <form  id="sendOrder-{%F:idOwner%}" action="/cart/~goodsToOrder" method="POST">
            <div class="row">
                <h5>Order </h5>
            </div>


            <div class="row">
                <div class="col-3">
                    <label>Select payment Method</label>
                    <select name="paysystem" class="form-control">
                        <option></option>
                        <option value="paypal">Pay Pal</option>
                        <option value="ect" >ect.</option>
                    </select>
                    <div class="form-group">
                        <label for="comments">Leave a comment</label>
                        <textarea class="form-control" name="comments" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="proceedItems" value="{%F:dataOwner>objectsIds%}">
                </div>

                <div class="col-5">
                    <table class="table table-striped">
                        <tr>
                            <td>Product Name</td>
                            <td>SKU</td>
                            <td>Count</td>
                            <td>Price per Unit</td>
                            <td>Total Price</td>
                            <td></td>
                        </tr>
                        {%each({F:dataOwner>objects},id,val)%}
                        <tr>
                            <td>{%F:val>object>_main>Name%}</td>
                            <td>{%F:val>skuObject>params>Name%}</td>
                            <td><input style="width: 100px;" class="countInCart" name="count[{%F:id%}]" data-id="{%F:id%}"  value="{%F:val>count%}" /></td>
                            <td data-price="{%F:id%}">{%F:val>price%}</td>
                            <td data-pricesum="{%F:id%}">{%F:val>priceSum%}</td>
                            <td><a class="removeItems" data-ownerid="{%F:idOwner%}" data-id="{%F:id%}" href="#">X</a></td>
                        </tr>
                        {%endeach%}
                    </table>

                    <div style="align-content: center;">
                        <div class="row">
                            <h5>Shipment Information</h5>
                        </div>
                        <div class="form-group">
                            <label>Select Delivery</label>
                            <select name="delivery" class="form-control">
                                {%if('{F:dataDeliveryList}'!='false')%}
                                <option></option>
                                {%each({F:dataDeliveryList},idDelivery,del)%}
                                <option value="{%F:idDelivery%}">{%F:del>Name%}</option>
                                {%endeach%}
                                {%else%}
                                <option>List delivery is empty</option>
                                {%endif%}
                            </select>
                        </div>
                        <div class="form-group">
                        <label>Select Location</label>
                            <select name="address" class="form-control">
                                {%if('{F:userDataLocations}'!='false')%}
                                    <option></option>
                                    {%each({F:userDataLocations},id,loc)%}
                                        <option {%if('{F:loc>params>location.isMain}'=='1')%}selected{%endif%}

                                        data-country="{%F:loc>params>location.country%}"
                                        data-state="{%F:loc>params>location.state%}"
                                        data-zip="{%F:loc>params>location.zip%}"
                                        data-street_1="{%F:loc>params>location.street_1%}"
                                        data-street_2="{%F:loc>params>location.street_2%}"
                                        data-city="{%F:loc>params>location.city%}"
                                        data-data="{%F:loc>id%}" value="{%F:loc>params>location.description%}">{%F:loc>params>location.country%} {%F:loc>params>location.state%} {%F:loc>params>location.city%} {%F:loc>params>location.zip%} {%F:loc>params>location.street_1%} {%F:loc>params>location.street_2%} </option>
                                    {%endeach%}
                                {%else%}
                                    <option>List locations is empty</option>
                                {%endif%}
                            </select>
                        </div>
                    </div>
                    <div style="align-content: center;">
                        <button data-proceeditems="{%F:dataOwner>objectsIds%}" data-idowner="{%F:idOwner%}" data-idform="sendOrder-{%F:idOwner%}" type="button" class="btn btn-secondary btn-lg approveOrder" >Place Order</button>
                        {%if(false)%}
                        </br>
                        </br>
                        <button type="button" class="btn btn-secondary btn-lg">Edit order</button>
                        {%endif%}
                    </div>
                </div>
                <div class="col-3">
                    {%if('{F:userDataOwner>params>avatar}'!='')%}
                        <img style="width:100%;" src="{%F:userDataOwner>params>avatar%}" alt="">
                    {%else%}
                        <img src="http://placehold.it/150x150?text=Supplier Company" alt="">
                    {%endif%}
                    <div>
                        {%if('{F:userDataAdditionalOwner}'!='false')%}
                            <p>{%F:userDataOwner>params>company%}</p>
                            <p><hr></p>
                            <p>{%F:userDataAdditionalOwner>companyEmail%}</p>
                            <p>{%F:userDataAdditionalOwner>companyCountry%}</p>
                            <p>{%F:userDataAdditionalOwner>companyState%}</p>
                            <p>{%F:userDataAdditionalOwner>companyCity%}</p>
                        {%else%}
                            ....
                            </br>
                            ....
                            </br>
                            ....
                            </br>
                            ....
                        {%endif%}
                    </div>
                </div>
            </div>
        </form>
        {%endeach%}
{%else%}

<div class="row">

    <h1>You can't see basket. Please need Authorisation in sistem.</h1>

</div>


{%endif%}



    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    .



                    
               
 


    
{%endsection:ishopCart%}








{%section:cartEmpty%}

<div class="row">

    <h1>Your basket is empty.</h1>

</div>


{%endsection:cartEmpty%}






{%section:ishopOrder%}
<h5>order stap</h5>
{%endsection:ishop_order%}



{%section:ishop_order_submit_ok%}

   

<div>
    <p>
        Order accepted. Letter with order data.
        Our managers and reporting order details. Thanks and have a nice day!

        Your order number: <strong> {%F:id%}</strong>
    </p>
</div>


{%endsection:ishop_order_submit_ok%}


{%section:ishop_order_submit_failed%}

The order has not been sent - there are no goods in the basket.
{%endsection:ishop_order_submit_failed%}


{%section:ishop_cart_email%}


{%endsection:ishop_cart_email%}




{%section:ishop_cart_object_email->%}



{%endsection:ishop_cart_object_email%}



{%section:ishop_order_submit_user_info_failed%}




<div class = "dotted_content">
    <div class = "zakaz_priniat">
        <p class = "red_title35"> Order not accepted - error entering user data </p>

        <a href="/catalog" class="big_red_button"> Return to Store </a>
                    </div>
                </div>




{%endsection:ishop_order_submit_user_info_failed%}






{%section:finishEditedOrder%}




{%endsection:finishEditedOrder%}

{%section:finishEditedOrderMailSubject%}

Data on the completed order.

{%endsection:finishEditedOrderMailSubject%}


{%section:finishEditedOrderMail%}

<p> THANKS FOR YOUR ORDER on </p>

<p> Your order number: <strong>  {%F:order>id%} </strong> </p>


{%endsection:finishEditedOrderMail%}


{%section:finishEditedOrderSubmitOk%}


{%endsection:finishEditedOrderSubmitOk%}

{%section:finishEditedOrderFail%}



{%endsection:finishEditedOrderFail%}


{%section:orderEditedMailSubject%}

{%endsection:orderEditedMailSubject%}


{%section:orderEditedMail%}



{%endsection:orderEditedMail%}
