
{%section:showBasketStatus%}

<a class="cart_wrapper" href="/cart"><img src="/project/templates/default/_ares/images/iconGoogle/shopping_basket-24px.svg" /><span>{%F:allCount%}</span></a>

	   												  
 
{%endsection:showBasketStatus%}


